= form_for @csv_error do |f|
  - if @csv_error.errors.any?
    #error_explanation
      %h2= "#{pluralize(@csv_error.errors.count, "error")} prohibited this csv_error from being saved:"
      %ul
        - @csv_error.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :source_line
    = f.text_area :source_line
  .field
    = f.label :error
    = f.text_field :error
  .field
    = f.label :mode
    = f.text_field :mode
  .field
    = f.label :parser
    = f.text_field :parser
  .field
    = f.label :category
    = f.text_field :category
  .field
    = f.label :warn
    = f.check_box :warn
  .actions
    = f.submit 'Save'
