%h1 Listing csv_errors

%table
  %thead
    %tr
      %th Source line
      %th Error
      %th Mode
      %th Parser
      %th Category
      %th Warn
      %th
      %th
      %th

  %tbody
    - @csv_errors.each do |csv_error|
      %tr
        %td= csv_error.source_line
        %td= csv_error.error
        %td= csv_error.mode
        %td= csv_error.parser
        %td= csv_error.category
        %td= csv_error.warn
        %td= link_to 'Show', csv_error
        %td= link_to 'Edit', edit_csv_error_path(csv_error)
        %td= link_to 'Destroy', csv_error, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Csv error', new_csv_error_path
