%p#notice= notice

%p
  %b Source line:
  = @csv_error.source_line
%p
  %b Error:
  = @csv_error.error
%p
  %b Mode:
  = @csv_error.mode
%p
  %b Parser:
  = @csv_error.parser
%p
  %b Category:
  = @csv_error.category
%p
  %b Warn:
  = @csv_error.warn

= link_to 'Edit', edit_csv_error_path(@csv_error)
\|
= link_to 'Back', csv_errors_path
