<%= render_chart(price_evolution_data(@price_evolution), partial: 'global/charts/google_chart_with_dashboard',
                 type: 'line', options: price_evolution_options(@price_evolution),
                title: t('.price_trends', category: @category).upcase,
                h_axis_title: t('.date'),
                v_axis_title: t('.asp')) if @price_evolution['brands']%>
<div id="tooltip_action"></div>
