<div class="m-content" id="price_evolution_content">
  <%= show_current_filters %>
  <% if @warnings.blank? %>
    <%= render partial: 'chart' %>
    <%= render partial: 'tabs' %>
  <% else %>
    <%= render partial: 'global/warnings' %>
  <% end %>
</div>