<% num_brands = @price_evolution['brands'].keys.size
   sort_class = num_brands > 1 ? 'sort' : nil %>
<div class="x-table">
  <table data-gt="1" class="table table-hover table-bordered table-striped data-table fixed">
    <thead>
    <tr>
      <th class="<%=sort_class%>"><%=t('.brand')%> <i></i></th>
      <th class="<%=sort_class%>"><%=t('.asp')%> <i></i></th>
      <th class="<%=sort_class%>"><%=t('.price_index')%> <i></i></th>
      <th class="<%=sort_class%>"><%=t('.min')%> <i></i></th>
      <th class="<%=sort_class%>"><%=t('.max')%> <i></i></th>
      <th class="<%=sort_class%>"><%=t('.skus')%> <i></i></th>
      <th class="<%=sort_class%>"><%=t('.offers')%> <i></i></th>
    </tr>
    <% if num_brands > 1 %>
      <tr>
        <td class="weight-600"><%=t('.market')%></td>
        <td class="weight-600"><%= basic_price(@price_evolution['average']['asp']) %></td>
        <td class="weight-600">100</td>
        <td class="weight-600"><%= basic_price(@price_evolution['minima']['min']) %></td>
        <td class="weight-600"><%= basic_price(@price_evolution['maxima']['max']) %></td>
        <td class="weight-600"><%= @price_evolution['summations']['skus'] %></td>
        <td class="weight-600"><%= @price_evolution['summations']['offers'] %></td>
      </tr>
    <% end %>
    </thead>
    <tbody>
    <% @price_evolution['brands'].keys.sort.each do |brand| %>
      <tr>
        <td><%= brand %></td>
        <td><%= basic_price(@price_evolution['brands'][brand]['asp']) %></td>
        <td><%= @price_evolution['brands'][brand]['price_index'] %></td>
        <td><%= basic_price(@price_evolution['brands'][brand]['min']) %></td>
        <td><%= basic_price(@price_evolution['brands'][brand]['max']) %></td>
        <td><%= @price_evolution['brands'][brand]['skus'] %></td>
        <td><%= @price_evolution['brands'][brand]['offers'] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="text-right">
    <%= form_tag(price_evolution_path, method: :post) do %>
      <% current_filters.each do |key, value| %>
        <% if value.is_a?(Array) %>
          <% value.each do |v| %>
            <%= hidden_field_tag("#{key}[]", v) %>
          <% end %>
        <% else %>
          <%= hidden_field_tag(key, value) %>
        <% end %>
      <% end %>
      <%= hidden_field_tag(:data_url) %>
      <%= hidden_field_tag(:format, :xlsx) %>
      <%= button_tag(type: 'submit', id: 'download_excel', class: "btn btn-default action-download") do %>
        <%=t('global.download_excel')%> <i class="la la-download"></i>
      <% end %>
    <% end %>
  </div>
</div>