<% content_for :basic_filters do %>
  <%= render partial: 'global/accordion_ecommerce',
             locals: {pages: @reference_pages.merge(@another_pages), type: 'checkbox'} %>
  <%= render partial: 'global/accordion_brand',
             locals: {references: @reference_brands, others: @another_brands, type: 'checkbox'} %>
  <%= render partial: 'global/accordion_subcategory', locals: {subcategories: @subcategories} %>
  <%= render partial: 'global/accordion_price' %>
  <%= render partial: 'global/accordion_model' %>
  <%= render partial: 'global/accordion_availability' %>
<% end %>

<% content_for :advanced_filters do %>
  <%= render partial: 'global/accordion_specs' %>
<% end %>

<form id="filters" class="sticked-vertical-menu">
  <% if current_user.has_filter_by_specs? %>
    <div class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark "
         data-menu-vertical="true" data-menu-scrollable="false" data-menu-dropdown-timeout="500">
      <ul class="m-menu__nav m-menu__nav--dropdown-submenu-arrow ">
        <div class="m-menu__section-text form-check menu-filter-check" id="m_ver_menu" role="tablist">
          <div class="card">
            <div class="card-header main" role="tab" id="headingOne">
              <h4 class="mb-0 m-menu__section-text">
                <a href="#" class="filters-type" data-toggle="collapse" data-target="#basicFilters" aria-expanded="true" aria-controls="basicFilters">
                  <span class="indicator"></span> <%=t('global.basic_filters').upcase %>
                </a>
              </h4>
            </div>
            <div id="basicFilters" class="collapse show mb-3" aria-labelledby="headingOne" data-parent="#m_ver_menu">
              <%= content_for :basic_filters %>
            </div>
            <div class="card-header main" role="tab" id="headingTwo">
              <h4 class="mb-0 m-menu__section-text">
                <a href="#" class="filters-type" data-toggle="collapse" data-target="#advancedFilters" aria-expanded="false" aria-controls="advancedFilters">
                  <span class="indicator"></span> <%=t('global.advanced_filters').upcase %>
                  <small class="pl-4 text-muted text-nowrap"><%=t('global.filters_by_specs')%></small>
                </a>
              </h4>
            </div>
            <div id="advancedFilters" class="collapse filters" aria-labelledby="headingTwo" data-parent="#m_ver_menu">
              <%= content_for :advanced_filters %>
            </div>
          </div>
          <%= render partial: 'global/reset_button' %>
        </div>
      </ul>
    </div>
  <% else %>
    <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark "
         data-menu-vertical="true" data-menu-scrollable="false" data-menu-dropdown-timeout="500">
      <ul class="m-menu__nav m-menu__nav--dropdown-submenu-arrow ">
        <%= content_for :basic_filters %>
        <%= render partial: 'global/reset_button' %>
      </ul>
    </div>
  <% end %>
</form>