<p><%=t('.hello')%>,</p>
<p><%= t('.find_bellow')%></p>
<table border="0" cellpadding="20px" cellspacing="0" width="100%">
  <tbody>
  <tr>
    <td>
      <h2><%= t('.new_eol')%></h2>
      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="data-table">
        <thead>
          <tr>
            <th><%= t('.category')%></th><th><%= t('.new')%></th><th><%= t('.eol')%></th>
          </tr>
        </thead>
        <tbody>
        <% @dashboard.keys.each do |category| %>
        <tr>
          <td><b><%= category %></b></td>
          <td><%= link_to(default_if_zero(@dashboard[category][:new], default: '-'),
                          products_public_index_url(mode: 'page', type: 'new', page: @markets, brand: @brands,
                                                    start_date: @start_date, end_date: @end_date,
                                                    number: @dashboard[category][:new], category: category),
                          target: '_blank') %></td>
          <td><%= link_to(default_if_zero(@dashboard[category][:disappeared], default: '-'),
                          products_public_index_url(mode: 'page', type: 'disappeared', page: @markets, brand: @brands,
                                                    start_date: @start_date, end_date: @end_date,
                                                    number: @dashboard[category][:disappeared], category: category),
                          target: '_blank') %></td>
        </tr>
        <% end %>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <h2><%= t('.price_variations')%></h2>
      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="data-table">
        <thead>
          <tr>
            <th><%= t('.category')%></th><th colspan="2"><%= t('.decreasing')%></th><th colspan="2"><%= t('.increasing')%></th>
          </tr>
          <tr>
            <th></th><th><%= t('.offers')%></th><th><%= t('.avg_var')%></th><th><%= t('.offers')%></th><th><%= t('.avg_var')%></th>
          </tr>
        </thead>
        <tbody>
        <% @dashboard.keys.each do |category| %>
          <tr>
            <td><b><%= category %></b></td>
            <td>
              <%= link_to(default_if_zero(@dashboard[category][:down], default: '-'),
                          products_public_index_url(mode: 'page', type: 'down', page: @markets, brand: @brands,
                                                    start_date: @start_date, end_date: @end_date,
                                                    number: @dashboard[category][:down], category: category),
                          target: '_blank') %>
            </td>
            <td><%= default_if_zero(number_to_percentage(@dashboard[category][:down_percentage], precision: 2), check: @dashboard[category][:down_percentage], default: '-') %></td>
            <td>
              <%= link_to(default_if_zero(@dashboard[category][:up], default: '-'),
                          products_public_index_url(mode: 'page', type: 'up', page: @markets, brand: @brands,
                                                    start_date: @start_date, end_date: @end_date,
                                                    number: @dashboard[category][:up], category: category),
                          target: '_blank') %>
            </td>
            <td><%= default_if_zero(number_to_percentage(@dashboard[category][:up_percentage], precision: 2), check: @dashboard[category][:up_percentage], default: '-') %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<p><%= t('.download_report_html', link: link_to('Excel file', files_path, target: '_blank'))%></p>
<p><%= t('.nice_day')%></p>
<br/>
<p><%= t('.team')%></p>