<div class="m-content" id="price_categories_content">
  <%= show_current_filters %>
  <% if @warnings.blank? %>
    <%= render partial: 'price_categories_table', :locals => {pages: @pages_names, averages: @averages} %>
    <%= render partial: 'global/colors_table' %>
  <% else %>
    <%= render partial: 'global/warnings' %>
  <% end %>
</div>