<div id="category_index">
  <div class="x-table">
    <table class="table table-bordered data-table fixed mb-0">
      <thead class="bg-secondary">
      <tr>
        <th class="text-center align-middle fix-width">
          <%= t('global.brand')%>
        </th>
        <% @pages_names.each do |_key, value| %>
          <th class="text-center align-middle text-overflow">
            <%= value %>
          </th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% width_percentage = @pages_names.blank? ? '100%' : "#{100 / @pages_names.size}%" %>
      <% @averages.each do |brand, average| %>
        <tr>
          <td class="text-center align-middle fix-width">
            <%= brand_logo(brand, average[0], false) %>
          </td>
          <% average[1].each do |key, average| %>
            <td class="fix-width text-center align-middle <%= default_if_zero(average[1], check: average[0])%> border"
                style="width: <%=width_percentage%>">
              <%= default_if_zero(basic_price(average[0]), default: '-', check: average[0]) %>
            </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>