<% content_for :vertical_menu, render(partial: 'vertical_menu') %>

<%= render(partial: 'global/subheader', locals: {title: @title, start_date: @start_date, end_date: @end_date}) %>

<%= render partial: 'content' %>