<%= render_chart(bubble_data(@benchmark), partial: 'global/charts/google_chart',
                 type: 'bubble', options: bubble_options(@benchmark),
                 title: "#{@category} benchmark chart".upcase,
                 h_axis_title: 'SKUs',
                 v_axis_title: 'ASP') if @benchmark['brands']%>
