<div class="x-table">
  <table data-gt="1" class="table table-hover table-bordered table-striped data-table fixed">
    <thead>
      <tr>
        <th class="<%=@sort_class%>"><%= @category %> <i></i></th>
        <th class="<%=@sort_class%>"><%=t('.skus')%> <i></i></th>
        <th class="<%=@sort_class%>"><%=t('.asp')%> <i></i></th>
        <th class="<%=@sort_class%>"><%=t('.offers')%> <i></i></th>
        <th class="<%=@sort_class%>"><%=t('.share')%> <i></i></th>
        <th class="<%=@sort_class%>"><%=t('.weight')%> <i></i></th>
      </tr>
      <% if @num_brands > 1 %>
      <tr>
        <td class="weight-600"><%=t('.average')%></td>
        <td class="weight-600"><%= number_with_precision(@benchmark['average']['skus'], precision: 2) %></td>
        <td class="weight-600"><%= basic_price(@benchmark['average']['asp']) %></td>
        <td class="weight-600"><%= number_with_precision(@benchmark['average']['offers'], precision: 2) %></td>
        <td class="weight-600"> --- </td>
        <td class="weight-600"> --- </td>
      </tr>
    <% end %>
    </thead>
    <tbody>
    <% @benchmark['brands'].keys.sort.each do |brand| %>
      <tr>
        <td><%= brand %></td>
        <td><%= @benchmark['brands'][brand]['skus'] %></td>
        <td><%= basic_price(@benchmark['brands'][brand]['asp']) %></td>
        <td><%= @benchmark['brands'][brand]['offers'] %></td>
        <td><%= number_to_percentage(@benchmark['brands'][brand]['offers'] * 100.0 / @benchmark['summations']['total_offers'], precision: 2)  rescue 0 %></td>
        <td><%= number_to_percentage(@benchmark['brands'][brand]['weight'], precision: 0) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="text-right">
    <%= form_tag(benchmark_path, method: :post) do %>
      <% current_filters.each do |key, value| %>
        <% if value.is_a?(Array) %>
          <% value.each do |v| %>
            <%= hidden_field_tag("#{key}[]", v) %>
          <% end %>
        <% else %>
          <%= hidden_field_tag(key, value) %>
        <% end %>
      <% end %>
      <%= hidden_field_tag(:data_url) %>
      <%= hidden_field_tag(:format, :xlsx) %>
      <%= button_tag(type: 'submit', id: 'download_excel', class: "btn btn-default action-download") do %>
        <%=t('global.download_excel')%> <i class="la la-download"></i>
      <% end %>
    <% end %>
  </div>
</div>