<div class="mb-5 tabs-with-ajax" data-target="m_tabs_detail">
  <div class="m-portlet__body">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active show" id="tab_summary" data-toggle="tab" href="#m_tabs_summary"><%=t('.summary')%></a>
      </li>
      <li class="nav-item">
        <%= link_to(benchmark_products_path(products_params),
                    class: 'nav-link action-download', id: 'tab_detail',
                    data: {toggle: 'tabajax', target: '#m_tabs_detail', remote: true})  do %>
          <%= t('.tab_detail')%> <i class="la la-download" data-url="<%=benchmark_products_path(products_params.merge(format: :xlsx))%>"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <a id='download_png' class="nav-link" href="#m_tabs_download" data-toggle="tab" title="<%=t('.download_chart')%>">
          <%=t('.chart')%> <i class="la la-download"></i>
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active show" id="m_tabs_summary" role="tabpanel">
        <%= render partial: 'summary' %>
      </div>
      <div class="tab-pane" id="m_tabs_detail" role="tabpanel"></div>
      <div class="tab-pane" id="m_tabs_download" role="tabpanel">
        <div class="container-fluid">
          <div class="col-sm-12 col-md-8">
            <a href="#" download="chart.png" title="<%=t('.download_image')%>" onclick="$(this).attr('href', $('#content_img').attr('src'))">
              <%= image_tag('fallback/missing.png', id: :content_img, class: 'download-image border') %>
            </a>
            <div class="font-italic text-right"><%=t('.downloadable_image')%></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>