<%= page_entries_info @products if @products.empty? %>
<% unless @products.empty? %>
  <div class="x-table">
    <caption class="caption-top">
      <%= page_entries_info @products %>
    </caption>
    <div class="mt-2"></div>
    <table class="table table-hover table-bordered table-striped data-table fixed">
      <thead>
      <tr>
        <th class="text-center"><%=t('benchmark.products.picture')%></th>
        <th class="text-center"><%= sort_link 'brand', remote: true %></th>
        <th class="text-center"><%= sort_link 'name', remote: true %></th>
        <th class="text-center"><%= sort_link 'subcategory', remote: true %></th>
        <th class="text-center"><%=t('benchmark.products.specs')%></th>
        <th class="text-center"><%= sort_link 'msrp', remote: true %></th>
        <% @ecommerces.keys.each do |key| %>
          <th class="text-center"><%= @ecommerces[key] %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @products.each do |product| %>
        <tr>
          <td>
            <%= link_to image_tag(ensure_image_url(product.image_url), alt: nil, title: product.name,
                                  class: 'frame-img missing_picture'),
                        ensure_image_url(product.image_url),
                        target: '_blank' %>
          </td>
          <td><%= product.brand %></td>
          <td><%= product.name %></td>
          <td><%= product.subcategory %></td>
          <td class="small col-width-16"><%= pretty_print_json(product.specs) %></td>
          <td class="text-nowrap text-center"><%= basic_price(product.msrp) %></td>
          <% @ecommerces.keys.each do |key| %>
            <td class="fix-width text-center"><%= basic_price(symmetrical_value(product.pages.split(','), product.prices.split(','), key)) %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="mb-5">
    <%= content_tag(:div, paginate(@products, remote: true, param_name: :sheet), class: 'float-left') %>  &nbsp;
    <%= link_to(benchmark_products_path(products_params.merge(format: :xlsx)), class: "btn float-right btn-default action-download") do %>
      <%=t('global.download_excel')%> <i class="la la-download"></i>
    <% end %>
  </div>
<% end %>