<%= page_entries_info @products if @products.empty? %>
<% unless @products.empty? %>
  <div class="x-table">
    <caption class="caption-top">
      <%= page_entries_info @products %>
    </caption>
    <div class="mt-2"></div>
    <table class="table table-hover table-bordered table-striped data-table fixed">
      <thead>
      <tr>
        <th class="text-center"><%= sort_link 'brand', remote: true %></th>
        <th class="text-center"><%= sort_link 'name', remote: true %></th>
        <th class="text-center"><%= sort_link 'subcategory', remote: true %></th>
        <th class="text-center"><%=t('benchmark.products.specs')%></th>
        <th class="text-center"><%=t('benchmark.products.ecommerce')%></th>
        <th class="text-center"><%=t('benchmark.products.asp')%></th>
        <th class="text-center"><%=t('benchmark.products.max_price')%></th>
        <th class="text-center"><%=t('benchmark.products.min_price')%></th>
        <th class="text-center"><%=t('benchmark.products.first_day')%></th>
        <th class="text-center"><%=t('benchmark.products.last_day')%></th>
        <th class="text-center"><%=t('benchmark.products.days_available')%></th>
      </tr>
      </thead>
      <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.brand %></td>
          <td><%= product.name %></td>
          <td><%= product.subcategory %></td>
          <td class="small col-width-16"><%= pretty_print_json(product.specs) %></td>
          <td><%= @ecommerces[product['page']] %></td>
          <td class="text-center text-nowrap"><%= basic_price product.avg %></td>
          <td class="text-center text-nowrap"><%= basic_price product.max %></td>
          <td class="text-center text-nowrap"><%= basic_price product.min %></td>
          <td><%= format_date product.first_day %></td>
          <td><%= format_date product.last_day %></td>
          <td class="text-center"><%= available_days(@total_days, product.first_day, product.last_day) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="mb-5">
    <%= content_tag(:div, paginate(@products, remote: true, param_name: :sheet), class: 'float-left') %>  &nbsp;
    <%= link_to(benchmark_products_path(products_params.merge(format: :xlsx)), class: "btn float-right btn-default action-download") do %>
      <%=t('global.download_excel')%> <i class="la la-download"></i>
    <% end %>
  </div>
<% end %>