<%= render_chart(product_evolution_data(@prices), partial: 'global/charts/google_chart_with_dashboard',
                 type: 'line', options: product_evolution_options(@prices),
                title: t('.product_trends', product: @prices.first.product.name),
                h_axis_title: t('.date'),
                v_axis_title: t('.price')) %>
<div id="tooltip_action"></div>
