<div class="m-content" id="product_evolution_detail">
  <%= show_current_filters %>
  <% if @prices.present? %>
    <div class="row" style="padding-left: 130px">
      <div class="col-xs-6">
        <% img_url = @prices.uniq { |e| e.product_page_id }.select { |e| e.product_page.image_url.present? }.first.product_page.image_url %>
        <% img_tag = image_tag(ensure_image_url(img_url), alt: nil, title: @product.name, class: 'missing_picture', style: 'max-width: 300px; margin-right: 20px') %>
        <%= link_to img_tag, ensure_image_url(img_url), target: '_blank' %>
      </div>
      <div class="col-xs-6" style="padding-top: 25px; padding-bottom: 25px">
        <span class="font-weight-bold"><%= @product.brand %></span><br>
        <span class="font-weight-bold"><%= @product.name %></span><br>
        Subcategory: <span class="font-weight-bold"><%= @product.subcategory %></span><br>

        <%= t 'activerecord.attributes.product.first_day' %>: <span class="font-weight-bold"><%= l @product.created_at.to_date, format: :long %></span><br>
        <%= t '.min_price' %>: <span class="font-weight-bold"><%= @prices.min { |a, span| a.price <=> span.price }.price %></span><br>
        <%= t '.max_price' %>: <span class="font-weight-bold"><%= @prices.max { |a, span| a.price <=> span.price }.price %></span><br>
        <%= "#{t('.msrp')}: <span class=\"font-weight-bold\">#{@product.msrp}</span>".html_safe if @product.msrp.present? %>
      </div>
    </div>

    <% if @warnings.blank? || (@warnings - [:brands]).blank? %>
      <%= render partial: 'chart' %>
      <%= render partial: 'tabs' %>
    <% else %>
      <%= render partial: 'global/warnings' %>
    <% end %>
  <% else %>
    <%= t 'helpers.page_entries_info.one_page.display_entries.zero', entry_name: t('.products').downcase %>
  <% end %>
</div>
