<div id="paginated-dialog" class="dialog-with-ajax" data-target="paginated-dialog">
  <%= show_current_filters %>
  <caption class="caption-top">
    <%= page_entries_info @products, entry_name: t('global.offer').downcase %>
  </caption>
  <% if @products.size > 0 %>
    <div class="x-table">
      <div class="mt-2"></div>
      <table class="table table-hover table-bordered table-striped data-table <%='fixed' unless is_popup? %>">
        <thead>
          <tr>
            <th><%= sort_link '_brand', title: t('activerecord.attributes.product.brand'), remote: true %></th>
            <th><%= sort_link '_name', title: t('activerecord.attributes.product.name'), remote: true %></th>
            <th><%= sort_link '_category', title: t('activerecord.attributes.product.category'), remote: true %></th>
            <th><%= sort_link '_subcategory', title: t('activerecord.attributes.product.subcategory'), remote: true %></th>
            <th><%= sort_link '_previous_price', title: t('activerecord.attributes.product.previous_price'), remote: true %></th>
            <th><%= sort_link '_price', title: t('activerecord.attributes.product.last_price'), remote: true %></th>
            <th><%= sort_link '_variance', title: t('activerecord.attributes.product.trend'), remote: true %></th>
            <th><%= sort_link '_variance', title: t('activerecord.attributes.product.variance_price'), remote: true %></th>
            <th><%= sort_link '_variance_percent', title: t('activerecord.attributes.product.variance'), remote: true %></th>
            <th><%= sort_link '_page', title: t('activerecord.attributes.product.page'), remote: true %></th>
            <th><%= sort_link '_date', title: t('activerecord.attributes.product.date'), remote: true %></th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product_price| %>
            <tr>
              <td><%= product_price['brand'] %></td>
              <td class="break-word"><%= link_to product_price['name'], show_product_evolution_path(product_price['product_id']) %></td>
              <td class="break-word"><%= product_price['category'] %></td>
              <td class="break-word"><%= product_price['subcategory'] %></td>
              <td class="text-nowrap"><%= basic_price(product_price['previous_price'], precision: 2) %></td>
              <td class="text-nowrap"><%= basic_price(product_price.price, precision: 2) %></td>
              <td><%= I18n.t("public.products.#{product_price['variance'] > 0 ? 'raise' : 'lower'}") %></td>
              <td><%= sprintf('%.2f', product_price['variance']) %></td>
              <td><%= number_to_percentage(product_price['variance_percent'], precision: 2) %></td>
              <td><%= Ecommerce.map_ecommerce_name[product_price['page']] %></td>
              <td><%= product_price.date %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="mb-5">
      <%= content_tag(:div, paginate(@products, params: { format: :html }, remote: true, window: 2, param_name: :sheet), class: 'float-left') %>
      <%= link_to(product_evolution_path(current_filters.merge(format: :xlsx)), class: "btn float-right btn-default action-download") do %>
        <%=t('global.download_excel')%> <i class="la la-download"></i>
      <% end %>
    </div>
  <% end %>
</div>
