<% pages = @prices.group_by(&:product_page_id).map { |e| [e.first, e.last.first.page] }.sort_by { |e| e.last } %>

<div class="x-table">
  <table data-gt="1" class="table table-hover table-bordered table-striped data-table fixed">
    <thead>
      <tr>
        <th><%=t('.date')%></th>
        <% pages.each do |page| %>
          <th><%= Ecommerce.map_ecommerce_name[page.last] %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% (@start_date..@prices.map(&:date).uniq.sort.last).each do |date| %>
      <% prices = @prices.select { |price| price.date == date }  %>
        <% next if prices.blank? %>
        <tr>
          <th><%= date %></th>
          <% pages.each do |page| %>
            <% product_price = prices.find { |e| e.product_page_id == page.first } %>
            <% if product_price.blank? %>
              <td></td>
            <% else %>
              <td class="text-center align-middle <%= level_by_variance(product_price['previous_price'], product_price.price) %>">
                <%= basic_price(product_price.price, precision: 2) %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-right">
    <%= form_tag(show_product_evolution_path, method: :post) do %>
      <% current_filters.each do |key, value| %>
        <% if value.is_a?(Array) %>
          <% value.each do |v| %>
            <%= hidden_field_tag("#{key}[]", v) %>
          <% end %>
        <% else %>
          <%= hidden_field_tag(key, value) %>
        <% end %>
      <% end %>
      <%= hidden_field_tag(:data_url) %>
      <%= hidden_field_tag(:format, :xlsx) %>
      <%= button_tag(type: 'submit', id: 'download_excel', class: "btn btn-default action-download") do %>
        <%=t('global.download_excel')%> <i class="la la-download"></i>
      <% end %>
    <% end %>
  </div>
</div>
