<% content_for :basic_filters do %>
  <%= render partial: 'global/accordion_ecommerce',
             locals: { pages: @reference_pages.merge(@another_pages), type: 'checkbox' } %>

  <%= render partial: 'global/accordion_brand',
             locals: { references: @reference_brands, others: @another_brands, type: 'checkbox' } %>

  <%= render partial: 'global/accordion_model' %>
<% end %>

<form id="filters" class="sticked-vertical-menu">
  <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark "
       data-menu-vertical="true" data-menu-scrollable="false" data-menu-dropdown-timeout="500">
    <ul class="m-menu__nav m-menu__nav--dropdown-submenu-arrow ">
      <%= content_for :basic_filters %>
      <%= render partial: 'global/reset_button' %>
    </ul>
  </div>
</form>
