<% unless is_popup_or_request_xhr? %>
<% content_for :vertical_menu, render(partial: 'vertical_menu') %>

<%= render partial: 'global/subheader', locals: { title: @title, start_date: @start_date, end_date: @end_date } %>
<% end %>

<% if is_popup_or_request_xhr? %>
  <%= render 'products_list' %>
<% else %>
  <div class="m-content" id="product_evolution">
    <%= render 'products_list' %>
  </div>
<% end %>
