<% @override_view_id = 'product_evolution_detail' %>
<div id="product_id" class="<%= params[:id] %>"></div>
<% content_for :vertical_menu do %>
  <div id="m_ver_menu" class="sticked-vertical-menu m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark"
       data-menu-vertical="true" data-menu-scrollable="false" data-menu-dropdown-timeout="500">
    <form id="filters">
      <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
        <%= render partial: 'global/accordion_ecommerce',
                   locals: { pages: @reference_pages.merge(@another_pages), type: 'checkbox' } %>
        <%= render partial: 'global/reset_button' %>
      </ul>
    </form>
  </div>
<% end %>

<%= render 'global/subheader', title: @title, start_date: @start_date, end_date: @end_date %>

<%= render 'product_details', product: @product, prices: @prices %>
