%script{:language => "javascript", :type => "text/javascript"}
  $(document).ready(function(){ $('body').addClass('forgot_password'); });
.container
  = bootstrap_devise_error_messages!
  .row
    .col-md-12
      .fold
        .wrap.wrap-reset-password
          .form-logo
            = image_tag 'logo.svg', class: 'logo-password-new'
          %p.form-title
            Forgot your password?
          = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: "form", class: 'reset-password' }) do |f|
            %label
              Enter you email address below to reset your password.
            = f.text_field :email, placeholder: "E-mail"
            %hr.reset-password-hr
            .reset-password-footer
              = link_to 'Back', new_user_session_path, class: "btn btn-danger btn-sm reset-password-back"
              = f.submit 'Submit', class: "btn btn-primary btn-sm"