.m-subheader
  .d-flex.align-items-center
    .mr-auto
      %nav{"aria-label" => "breadcrumb", "role" => "navigation"}
        %ol.breadcrumb{id: 'title'}
          %li.breadcrumb-item
            = link_to 'Home', root_path
          %li.breadcrumb-item.active{'aria-current' => 'page'}
            Files
      %h3.m-subheader__title
        Files
.m-content
  %h1.page-title
    Pricing Reports
  - if current_user.admin?
    .row
      .col-md-12
        .portlet.box.red
          .portlet-title
            .caption
              %i.fa.fa-file-excel-o
              Fiheros a tratar:
          .portlet-body
            .table-scrollable
              %table.table.table-striped.table-hover
                %tbody
                  %tr
                    %td=link_to "Products details", files_path(file: @products_table.last )
                    %td
                      = form_tag files_path, class: "form-horizontal", role: "form"  do
                        = hidden_field_tag 'create_products_file', 'create_products_file@'
                        = submit_tag 'Update Products file'
                        = label_tag 'Extraer Specs: '
                        = check_box_tag 'fill_specs'
                  %tr
                    %td=link_to "Lost Products", files_path(file: @lost_products.last )
                    %td
                      = form_tag files_path, class: "form-horizontal", role: "form"  do
                        = hidden_field_tag 'create_lost_products_file', 'create_lost_products_file@'
                        = submit_tag 'Update Lost Products file'
                  %tr
                    %td=link_to "Bad EANs", files_path(file: @bad_eans.last )
                    %td
                      = form_tag files_path, class: "form-horizontal", role: "form"  do
                        = hidden_field_tag 'create_bad_ean_products_file', 'create_bad_ean_products_file@'
                        = submit_tag 'Update Bad Ean product file'
                  %tr
                    %td=link_to "Bad Prices", files_path(file: @bad_prices.last )
                    %td
                      = form_tag files_path, class: "form-horizontal", role: "form"  do
                        = hidden_field_tag 'create_bad_prices_file', 'create_bad_prices_file@'
                        = submit_tag 'Update Bad Prices Products file'
                        = label_tag 'Precios entre: '
                        = number_field_tag 'low_price', value = 1900
                        = label_tag ' y '
                        = number_field_tag 'high_price', value = 2000
                  %tr
                    %td{colspan: '2'}
                      = form_tag files_path, class: "form-horizontal", role: "form"  do
                        = hidden_field_tag 'create_all', 'create_all@'
                        = submit_tag 'Update all files'
                        = label_tag 'Bad Prices entre: '
                        = number_field_tag 'low_price', value = 1900
                        = label_tag ' y '
                        = number_field_tag 'high_price', value = 2000
                        //= label_tag 'Benchmark: '
                        //= date_field_tag 'date', value = Date.today
                        = label_tag 'Extraer Specs: '
                        = check_box_tag 'fill_specs'
                  %tr
                    %td{colspan: '2'}
                  %tr
                    %td{colspan: '2'}
                      = form_tag files_path, class: "form-horizontal", role: "form"  do
                        = hidden_field_tag 'scrapp', 'scrapp@'
                        = submit_tag 'Scrapp'
                        = label_tag 'Pages: '
                        = select_tag "pages", options_for_select(PageBase::PAGES), multiple: true
                        = label_tag 'Categories: '
                        = select_tag "categories", options_for_select(PageDepartment.distinct.order(:category).pluck(:category)), multiple: true
                        = label_tag 'Continuar última descarga: '
                        = check_box_tag 'from_last_page'
                  - if @scrapp_results
                    %tr
                      %td
                        Resultado del scrapping:
                      %td
                        - @scrapp_results.each do |result|
                          %a{alt: 'View product list page 1', target: '_blank', href: "#{PageBase.get_class(result[:page]).build_url(result[:url_template], 1)}"}
                            = "[#{result[:page]}] [#{result[:category]}] [#{result[:subcategory]}]"
                          = ": Listados: [#{result[:listed_items]}] - Procesados: [#{result[:procesed_items]}]"
                          %br
                  %tr
                    %td{colspan: '2'}
                      = form_tag files_path, class: "form-horizontal", role: "form"  do
                        = hidden_field_tag 'deep_scrapp', 'deep_scrapp@'
                        = submit_tag 'Deep Scrapp'
                        = label_tag 'Pages: '
                        = select_tag "pages", options_for_select(PageBase::PAGES), multiple: true
                        = label_tag 'Categories: '
                        = select_tag "categories", options_for_select(PageDepartment.distinct.order(:category).pluck(:category)), multiple: true
                        = label_tag 'Updatable params: '
                        //= select_tag "updatable_params", options_for_select(ProductPage::ATTRIBUTES.sort - [:product, :url, :usable]), multiple: true
                        = select_tag "updatable_params", options_for_select([:ean, :image_url, :images_counter, :out_of_stock, :specs]), multiple: true
                  - if @deep_scrapp_info
                    %tr
                      %td
                        Resultado del scrapping:
                      %td
                        = "Product Pages afectados: [#{@deep_scrapp_info}]"
                  %tr
                    %td{colspan: '2'}
                      = form_tag files_path, class: "form-horizontal", role: "form"  do
                        = hidden_field_tag 'create_daily_report', 'create_daily_report@'
                        = submit_tag 'Update Price Benchmark Extended'
                        = label_tag 'Desde día: '
                        = date_field_tag 'day_1', value = Date.today
                        = label_tag 'Hasta día: '
                        = date_field_tag 'day_2', value = Date.today
                        = label_tag 'Categories: '
                        = select_tag "categories", options_for_select(PageDepartment.distinct.order(:category).pluck(:category)), multiple: true
                        = label_tag 'Añadir enlaces: '
                        = check_box_tag 'add_links'
                  %tr
                    %td{colspan: '2'}
                      = form_tag files_path, class: "form-horizontal", role: "form"  do
                        = hidden_field_tag 'create_var_prices_report', 'create_var_prices_report@'
                        = submit_tag 'Update Var Prices Report'
                        = label_tag 'Dia 1: '
                        = date_field_tag 'day_1', value = Date.yesterday
                        = label_tag 'Dia 2: '
                        = date_field_tag 'day_2', value = Date.today
                  %tr
                    %td{colspan: '2'}
                      = form_tag files_path, class: "form-horizontal", role: "form"  do
                        = hidden_field_tag 'create_top_seller_report', 'create_top_seller_report@'
                        = submit_tag 'Update Top Seller Report'
                        = label_tag 'Dia: '
                        = date_field_tag 'day_1', value = Date.today
                        = label_tag 'URLs cortas: '
                        = check_box_tag 'reduce_url', "1", true
                  %tr
                    %td{colspan: '2'}
                      = form_tag files_path, class: "form-horizontal", role: "form"  do
                        = hidden_field_tag 'create_daily_offers_report', 'create_daily_offers_report@'
                        = submit_tag 'Update Daily Offers Report'
                        = label_tag 'Dia: '
                        = date_field_tag 'day_1', value = Date.today
                        = label_tag 'Categories: '
                        = select_tag 'categories', options_for_select(PageDepartment.distinct.order(:category).pluck(:category)), multiple: true
                  %tr
                    %td{colspan: '2'}
                      = form_tag files_path, class: "form-horizontal", role: "form"  do
                        = hidden_field_tag 'clone_prices', 'clone_prices@'
                        = submit_tag 'Clone Prices'
                        = label_tag 'Pages: '
                        = select_tag "pages", options_for_select(PageBase::PAGES), multiple: false
                        = label_tag 'Categories: '
                        = select_tag "categories", options_for_select(PageDepartment.distinct.order(:category).pluck(:category)), multiple: false
                        = label_tag 'Del día: '
                        = date_field_tag 'day_1', value = Date.today
                        = label_tag 'Al día: '
                        = date_field_tag 'day_2', value = Date.today
                        = label_tag 'Borrar antes precios en destino: '
                        = check_box_tag 'delete'
                  - if @clone_prices_results
                    %tr
                      %td
                        Resultado de la copia de precios:
                      %td
                        = "#{@clone_prices_results}"
    - if current_user.admin?
      .row
        .col-md-12
          .portlet.box.red
            .portlet-title
              .caption
                %i.fa.fa-file-excel-o
                Upload lost products
            .portlet-body
              .alert.alert-danger.alert-dismissible.fade.show.hide{role: 'alert', id: 'errors_lost_products_files'}
                %button.close{type: 'button', onclick: '$("#errors_lost_products_files").hide()', 'aria-label' => 'Close'}
                  %span{'aria-hidden' => 'true'}
                    &times;
                %span
              = form_tag upload_files_path, multipart: true, remote: true, class: "form-horizontal", role: "form"  do
                = file_field_tag 'lost_products_files[]', accept: 'xlsx', multiple: true
                = submit_tag 'Upload Product Pages (Lost Product) file'
    - if current_user.admin?
      .row
        .col-md-12
          .portlet.box.red
            .portlet-title
              .caption
                %i.fa.fa-file-excel-o
                Upload products
            .portlet-body
              .alert.alert-danger.alert-dismissible.fade.show.hide{role: 'alert', id: 'errors_products_files'}
                %button.close{type: 'button', onclick: '$("#errors_products_files").hide()', 'aria-label' => 'Close'}
                  %span{'aria-hidden' => 'true'}
                    &times;
                %span
              = form_tag upload_files_path, multipart: true, remote: true, class: "form-horizontal", role: "form"  do
                = file_field_tag 'products_files[]', accept: 'xlsx', multiple: true
                = submit_tag 'Upload Products file'
    - if current_user.admin?
      .row
        .col-md-12
          .portlet.box.red
            .portlet-title
              .caption
                %i.fa.fa-file-excel-o
                Upload bad prices
            .portlet-body
              .alert.alert-danger.alert-dismissible.fade.show.hide{role: 'alert', id: 'errors_bad_prices_files'}
                %button.close{type: 'button', onclick: '$("#errors_bad_prices_files").hide()', 'aria-label' => 'Close'}
                  %span{'aria-hidden' => 'true'}
                    &times;
                %span
              = form_tag upload_files_path, multipart: true, remote: true, class: "form-horizontal", role: "form"  do
                = file_field_tag 'bad_prices_files[]', accept: 'xlsx', multiple: true
                = submit_tag 'Upload Product Prices file'
      %hr
      .row
        .col-md-12
          .portlet.box.red
            .portlet-title
              .caption
                %i.fa.fa-file-excel-o
                Upload Report Xlsx
                %br
                %small
                  Example file name for Whirlpool (WH is the acronym for User Group):
                  %i
                    180305_price_benchmark_WH.xlsm
            .portlet-body
              .alert.alert-warning.alert-dismissible.fade.show.hide{role: 'alert', id: 'errors_report'}
                %span
                %button.close{type: 'button', onclick: '$("#errors_report").hide()', 'aria-label' => 'Close'}
                  %span{'aria-hidden' => 'true'}
                    &times;
              = form_tag upload_files_path, multipart: true, remote: true, class: "form-horizontal", role: "form"  do
                = file_field_tag 'report', accept: 'xlsx, xlsm'
                = submit_tag 'Upload Report Xlsx'
      %hr
      .row
        .col-md-12
          .portlet.box.red
            .portlet-title
              .caption
                %i.fa.fa-file-excel-o
                Send daily reports by email
                %br
                %small
                  Only users with email and checked option 'Has Daily Email' in users administration
            .portlet-body
              = link_to('Send Daily Reports by Email', send_daily_reports_files_path, class: 'btn btn-primary')
      %hr
      .row
        .col-md-12
          .portlet.box.red
            .portlet-title
              .caption
                %i.fa.fa-file-excel-o
                Upload Top Sellers Report Xlsx
                %br
                %small
                  Example file name:
                  %i
                    Stramina_2019_07_05_MU.txt
            .portlet-body
              .alert.alert-warning.alert-dismissible.fade.show.hide{role: 'alert', id: 'errors_top_sellers_report'}
                %span
                %button.close{type: 'button', onclick: '$("#errors_top_sellers_report").hide()', 'aria-label' => 'Close'}
                  %span{'aria-hidden' => 'true'}
                    &times;
              = form_tag upload_files_path, multipart: true, remote: true, class: "form-horizontal", role: "form"  do
                = file_field_tag 'top_sellers_report', accept: 'xlsx, xlsm'
                = submit_tag 'Upload Top Sellers Report Xlsx'
      %hr
      .row
        .col-md-12
          .portlet.box.red
            .portlet-title
              .caption
                %i.fa.fa-file-excel-o
                Send top sellers reports by ftp
                %br
                %small
                  Top sellers report is copy to Micrón FTP
            .portlet-body
              = link_to('Send Top Seller Report by FTP', send_top_seller_report_files_path, class: 'btn btn-primary')
      %hr
  .row
    .col-md-12
      .portlet.box.green
        .portlet-title
          .caption
            %i.fa.fa-file-excel-o
            Daily Reports
        .portlet-body
          .table-scrollable{ style: 'overflow-x: auto' }
            %table.table.table-striped.table-hover
              %tbody
                %tr
                  %td
                    %h1
                      Price Benchmark
                    - if @price_benchmark
                      - @price_benchmark.each do |file|
                        - text = file.split('_')[0]
                        - month = Date::MONTHNAMES[text[2..3].to_i]
                        %p
                          =link_to "#{month} #{text[4..5]}", files_path(file: file), target: '_blank'
                  - if current_user.admin?
                    %td
                      %h1
                        Price Benchmark Extended
                      - if @price_benchmark_extended
                        - @price_benchmark_extended.each do |file|
                          - text = file.split('_')[0]
                          - month = Date::MONTHNAMES[text[2..3].to_i]
                          %p
                            =link_to "#{month} #{text[4..5]}", files_path(file: file), target: '_blank'
                    %td
                      %h1
                        Price Benchmark Extended Multi
                      - if @price_benchmark_extended_multi
                        - @price_benchmark_extended_multi.each do |file|
                          %p
                            =link_to "#{file}", files_path(file: file), target: '_blank'
                    %td
                      %h1
                        Var Prices Reports
                      - if @price_var_report
                        - @price_var_report.each do |file|
                          %p
                            =link_to "#{file}", files_path(file: file), target: '_blank'
                    %td
                      %h1
                        Top Sellers Reports
                      - if @top_sellers
                        - @top_sellers.each do |file|
                          %p
                            =link_to "#{file}", files_path(file: file), target: '_blank'
                    %td
                      %h1
                        Daily Offers Reports
                      - if @daily_offers
                        - @daily_offers.each do |file|
                          %p
                            =link_to "#{file}", files_path(file: file), target: '_blank'
