<% unless @errors.blank? %>
  $('#<%=@key%> span').html('<%=escape_javascript(show_errors(@errors))%>');
  $('#<%=@key%>').removeClass('hide');
  $('#<%=@key%>').show();
<% else %>
  location.reload();
<% end %>
