
<div class="m-grid m-grid--hor m-grid--root m-page">
  <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--singin m-login--2 m-login-2--skin-2" id="m_login" style="background-image: url(<%= asset_path('bg-3.jpg')%>);">
    <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
      <div class="m-login__container">
        <div class="m-login__logo">
          <a href="#">
            <img src="<%= asset_path('logo-login.png')%>">
          </a>
        </div>
        <div class="m-login__signin">
          <!-- <div class="m-login__head">
            <h3 class="m-login__title">
              Sign In To Admin
            </h3>
          </div> -->
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'm-login__form m-form' }) do |f| %>
            <div class="form-group m-form__group">
              <%= f.text_field :email, class: 'form-control m-input', placeholder: 'Email' %>
            </div>
            <div class="form-group m-form__group">
              <%= f.password_field :password, autocomplete: "off", class: 'form-control m-input m-login__form-input--last', placeholder: 'Password'%>
            </div>
            <div class="row m-login__form-sub">
              <% if devise_mapping.rememberable? %>
                <div class="col m--align-left m-login__form-left">
                  <label class="m-checkbox  m-checkbox--focus">
                        <%= f.check_box :remember_me %>Remember me
                    <span></span>
                  </label>
                </div>
              <% end %>
              <div class="col m--align-right m-login__form-right">
                <a href="javascript:;" id="m_login_forget_password" class="m-link">
                  Forget Password ?
                </a>
              </div>
            </div>
            <div class="m-login__form-action">
              <%= f.submit 'Sign In', id: 'm_login_signin_submit',  class: 'btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m-login__btn--primary' %>
            </div>
          <% end %>
        </div>
        <div class="m-login__signup">
          <div class="m-login__head">
            <h3 class="m-login__title">
              Sign Up
            </h3>
            <div class="m-login__desc">
              Enter your details to create your account:
            </div>
          </div>
          <% form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'm-login__form m-form' }) do |f| %>
            <div class="form-group m-form__group">
              <input class="form-control m-input" type="text" placeholder="Fullname" name="fullname" >
            </div>
            <div class="form-group m-form__group">
              <input class="form-control m-input" type="text" placeholder="Email" name="email" autocomplete="off">
            </div>
            <div class="form-group m-form__group">
              <input class="form-control m-input" type="password" placeholder="Password" name="password">
            </div>
            <div class="form-group m-form__group">
              <input class="form-control m-input m-login__form-input--last" type="password" placeholder="Confirm Password" name="rpassword">
            </div>
            <div class="row form-group m-form__group m-login__form-sub">
              <div class="col m--align-left">
                <label class="m-checkbox m-checkbox--focus">
                  <input type="checkbox" name="agree">
                  I Agree the
                  <a href="#" class="m-link m-link--focus">
                    terms and conditions
                  </a>
                  .
                  <span></span>
                </label>
                <span class="m-form__help"></span>
              </div>
            </div>
            <div class="m-login__form-action">
              <button id="m_login_signup_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn">
                Sign Up
              </button>
              <button id="m_login_signup_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom  m-login__btn">
                Cancel
              </button>
            </div>
          <% end %>
        </div>
        <div class="m-login__forget-password">
          <div class="m-login__head">
            <h3 class="m-login__title">
              Forgotten Password ?
            </h3>
            <div class="m-login__desc">
              Enter your email to reset your password:
            </div>
          </div>
          <% form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'm-login__form m-form' }) do |f| %>
            <div class="form-group m-form__group">
              <input class="form-control m-input" type="text" placeholder="Email" name="email" id="m_email" autocomplete="off">
            </div>
            <div class="m-login__form-action">
              <button id="m_login_forget_password_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m-login__btn--primaryr">
                Request
              </button>
              <button id="m_login_forget_password_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom m-login__btn">
                Cancel
              </button>
            </div>
          <% end %>
        </div>
        <div class="m-login__account">
          <span class="m-login__account-msg">
            Don't have an account yet ?
          </span>
          <a href="https://stramina.com/" id="m_login_signup" class="m-link m-link--light m-login__account-link">
            Sign Up
          </a>
        </div>
      </div>
    </div>
  </div>
</div>




