/* Absolute Center Spinner */
.spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: initial;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* Transparent Overlay */
  &:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
  }
  &:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 1em;
    -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  }
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.page-container {
  padding: 10px;
}

// Price Categories
#category_index {
  .m-datatable__table {
    display: block;
    height: auto;
    overflow-x: auto;
    width: 100%;
    .head {
      height: 53px;
    }
    th > span, td > span {
      width: 110px;
    }
    tbody > tr {
      height: 64px;
    }
    .logo {
      max-height: 42px;
      max-width: 96px;
    }
  }
}
.brand-text {
  background-color: #cccccc;
}
@media only screen and (min-width: 992px) {
  .sticked-vertical-menu {
    position: sticky;
    top: 70px;
  }
}

table {
  .fix-width {
    width: 131px;
    min-width: 131px;
    height: 61px;
    &.double {
      width: 262px;
      min-width: 262px;
    }
  }
  .text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .margin-auto {
    margin-left: auto;
    margin-right: auto
  }
  &.layout-fixed {
    table-layout: fixed;
    width: 100%;
  }
}

#chartjs-tooltip {
  background-color: #fff;
  opacity: 1;
  border: 2px solid black;
  b {
    font-weight: bold !important;
  }
}
#chart-1 text {cursor: pointer;}

//Sorting tables
a.i-link {
  &:link, &:visited {
    text-decoration: none !important;
  }
  &:hover, &:active {
    text-decoration: underline !important;
  }
}
.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none !important;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
}
.pagination {
  border-left: 1px solid #ddd;
  .first{
    padding : 0;
    float: none;
    border: none;
  }
  .prev {
    padding : 0;
    float: none;
    border: none;
  }
  .page{
    padding : 0;
    float: none;
    border: none;
  }
  .next{
    padding : 0;
    float: none;
    border: none;
  }
  .last{
    padding : 0;
    float: none;
    border: none;
  }
}
.caption-top {
  caption-side: top;
  padding-left: 0.5rem !important;
}
//Charts
#tooltip {
  display: none;
  position: absolute;
  padding: 10px;
  border: 1px solid #ddd;
  background: white;
  width: 350px;
  -webkit-box-shadow: 0 0 5px #ddd;
  -moz-box-shadow: 0 0 5px #ddd;
  box-shadow: 0 0 5px #ddd;
  z-index: 1;
}
.download-image {
  width: 100%;
  height: auto;
}
.frame-img {
  max-height: 50px;
  max-width: 50px;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  &.micro {
    max-height: 25px;
    max-width: 25px;
  }
  &.medium {
    max-height: 75px;
    max-width: 75px;
  }
  &.big {
    max-height: 125px;
    max-width: 125px;
  }
  &.no-center {
    margin-left: 0;
    margin-right: inherit;
  }
}
.x-table {
  overflow-x: auto;
  margin-bottom: 5px;
}

input.very-small {
  width: 4rem;
  background-color:#cccccc;
}

.card-header, .card-header-click {
  &.main {
    padding-left: 0.5rem;
    a:link, a:visited {
      text-decoration: none !important;
      color: #707f9e !important;
    }
    a[data-toggle="collapse"]:after, .card-header-click a[data-toggle="collapse"]:after {
      content: none;
    }
  }
}

.filters {
  .card-header a, .card-header-click a {
    font-size: 1rem;
  }
  .card-header, .card-header-click {
    padding: .25rem 0.5rem .25rem 1.75rem;
  }
  .select2-container .select2-selection--multiple {
    min-height: 1rem;
  }
  .select2-container--default .select2-selection--multiple {
    background-color: #ccc;
  }
  .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    margin: 3px 2px 1px 0;
  }
}

.m-nav__link-icon {
  .text-link {
    color: #dcdcdc;
  }
}

ul.current-filters {
  list-style: none;
  padding-left: 1rem;
  li {
    list-style:square;
    padding-right: 0.5rem;
    display: inline-block;
    display: inline;
    font-size: 0.8rem;
    .bold {
      font-weight: bold;
    }
  }
  li:before {
    content: "■ ";
    color: orange; /* or whatever color you prefer */
  }
}

.uncheck-element {
  cursor: pointer;
  color: orange;
}
.weight-600 {
  font-weight: 600 !important;
}
.cursor-pointer {
  cursor: pointer;
}
//Bootstrap Dialog
.modal-dialog {
  width: 100%;
  height: 93%;
  padding: 0;
  margin: 0;
}

.modal-content {
  max-height: 100%;
  border-radius: 0;
  overflow-y: auto;
}

.modal-header {
  border-radius: 0 !important;
}


.break-word {
  word-wrap: break-word;
  max-width: 15rem;
}
.col-width {
  max-width: 15rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-decoration-none {
  text-decoration: none !important;
}

a[aria-expanded="true"] {
  .indicator::after {
    content: "▼";
  }
}
a[aria-expanded="false"] {
  .indicator::after {
    content: "►";
  }
}
// Sort full table inline
th.sort {
  cursor: pointer;
  color: #5867dd;
}

.dropdown-menu > .dropdown-item, .dropdown-menu > li > a {
  padding: 0.3rem 1.2rem !important;
}

// Tooltips in Google charts
.google-visualization-tooltip {
  border: solid 1px #bdbdbd;
  border-radius: 2px;
  background-color: white;
  position: absolute;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.6);
  font-size: 1rem;
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.6);
  font-family: arial;
}

.google-visualization-tooltip div {
  padding: 5px;
  width: 180px;
}

//Select2
.select2-container {
  width: 98% !important;
}
#collapseModels {
  .select2-selection__choice {
    max-width: 195px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
li.select2-results__option {
  padding: 5px 5px !important;
  border-bottom: 1px dotted #c1d7e3;
  .frame-img {
    width: 35px !important;
  }
}

.remove-all, .show-filters, .reset-brands {
  color: #bfbfbf;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  float: right;
  &.specs {
    top: 0.5rem;
  }
}
.show-filters {
  right: 3em;
}
.reset-brands {
  right: 4.5em;
}

.label-left {
  padding-left: 0;
  color: #bfbfbf;
  font-weight: 500;
  width: 100%;
}

.legend-table {
  font-size: smaller;
  color: #545454;
}

.col-width-16 {
  min-width: 16rem;
}
.control-div {
  height: 75px;
  margin-bottom: 20px;
}

table.sticky-enabled {
  margin-bottom: 0;
}
