<!-- Accordion Subcategories -->
<div class="m-menu__section-text form-check menu-filter-check" id="accordion5" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="headingFive">
      <h4 class="mb-0 m-menu__section-text">
        <a data-toggle="collapse" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
          <%= t('global.subcategory')%>
        </a>
      </h4>
    </div>
    <span class="show-filters uncheck-element fa fa-eye" title="<%=t('global.show_filters')%>"
          data-ref="#collapseFive label" data-filter-type="subcategory"></span>
    <span class="remove-all uncheck-element fa fa-trash" title="<%=t('global.clean_filters')%>"
          data-ref="#collapseFive input:checked" data-apply-at-the-end="true"></span>
    <div id="collapseFive" class="collapse show m-checkbox-list" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion5">
      <div class="card-body">
        <% unless subcategories.blank? %>
          <% subcategories.each do |_category, values| %>
            <div>
            <% if subcategories.keys.size > 1 %>
              <label class="label-left"><%= _category %></label>
            <% end %>
            <% values.each_with_index do |subcategory, index| %>
              <% next if subcategory[0].blank? %>
              <label class="form-check-label m-checkbox">
                <input type="checkbox" name="options" id="<%= Utils.hashcode('subcategory', _category, subcategory[0]) %>" autocomplete="off" class="form-check-input" value="<%= subcategory[0] %>">
                <%= subcategory[0] %>
                <span></span>
                <div class="m-badge m-badge--success m-badge--wide" id="subcategory-<%= _category.parameterize %>-<%= subcategory[0].parameterize %>">
                  <%= subcategory[1] %>
                </div>
              </label>
            <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>