<!-- Accordion specs -->
<% if Product.available_filters_in_specs[@category].nil? %>
  <div class="card">
    <div class="card-header">
      <div class="mb-0 text-warning">
        <span class="fa fa-warning"></span> <%=t('global.no_filters')%>
      </div>
    </div>
  </div>
<% else %>
  <% Product.available_filters_in_specs[@category].keys.each do |key| %>
    <%
      key_ref = key.parameterize(separator: '_')
      num_options = Product.available_filters_in_specs[@category][key].size
      is_expanded = num_options < 6 || num_options > 12
    %>
    <div class="m-menu__section-text form-check menu-filter-check" id="accordion_<%=key_ref%>" role="tablist">
      <div class="card">
        <div class="<%= is_expanded ? 'card-header' : 'card-header-click'%>" role="tab" id="heading_<%=key_ref%>">
          <h4 class="mb-0 m-menu__section-text">
            <a data-toggle="collapse" href="#collapse_<%=key_ref%>" aria-expanded="<%=is_expanded%>"
               title="<%=key.titleize%>" aria-controls="collapse_<%=key_ref%>">
              <%= truncate(key.titleize, length: 24) %>
            </a>
          </h4>
        </div>
        <% if num_options <= 12 %>
          <span class="remove-all specs uncheck-element fa fa-trash" title="<%=t('global.clean_filters')%>"
                data-ref="#collapse_<%=key_ref%> input:checked" data-apply-at-the-end="true"></span>
        <% end %>
        <div id="collapse_<%=key_ref%>" class="collapse <%='show' if is_expanded %>" role="tabpanel"
             aria-labelledby="heading_<%=key_ref%>" data-parent="#accordion_<%=key_ref%>">
          <div class="card-body">
            <% if num_options > 12 %>
              <% options = remove_zeros_options(Product.available_filters_in_specs[@category][key], @category) %>
              <%= select_tag("specs[#{key_ref}]",
                             options_for_select(options),
                             multiple: true, class: 'selectTwo') %>
            <% else %>
              <% Product.available_filters_in_specs[@category][key].each do |value| %>
                <label class="form-check-label m-checkbox">
                  <input type="checkbox" name="specs[<%=key_ref%>]" id="<%= Utils.hashcode("spec-#{@category}", value) %>" class="form-check-input" value="<%= value %>">
                  <%= remove_zero_decimals(value) %>
                  <span></span>
                </label>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>