<!-- Accordion Model -->
<div class="m-menu__section-text form-check menu-filter-check" id="accordionModel" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="headingModel">
      <h4 class="mb-0 m-menu__section-text">
        <a class="m-menu__section-text-a" data-toggle="collapse" href="#collapseModels" aria-expanded="true" aria-controls="collapseModels">
          <%=t('global.model')%>
        </a>
      </h4>
    </div>
    <div id="collapseModels" class="collapse filters show" role="tabpanel" aria-labelledby="headingModel" data-parent="#accordionModel">
      <div class="card-body">
        <%= select_tag("models", nil, multiple: true, class: 'models-data-ajax') %>
        <small class="search-button cursor-pointer text-white float-right mt-2"><%=t('global.apply')%></small>
      </div>
    </div>
  </div>
</div>
