<!-- Accordion brand -->
<div class="m-menu__section-text form-check menu-filter-check" id="accordion2" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h4 class="mb-0 m-menu__section-text">
        <a data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <%= t('global.brands')%>
        </a>
      </h4>
    </div>

    <span class="show-filters uncheck-element fa fa-eye" title="<%=t('global.show_filters')%>"
          data-ref="#collapseTwo label" data-filter-type="brand"></span>

    <span class="remove-all uncheck-element fa fa-trash" title="<%=t('global.clean_filters')%>"
          data-ref="#collapseTwo input:checked" data-apply-at-the-end="true"></span>

    <span class="reset-brands uncheck-element fa fa-check" title="<%=t('global.clean_filters')%>"></span>

    <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion2">
      <div class="card-body">
        <div class="small my-2 text-warning hide" id="no-brands">
          <span class="fa fa-warning"></span> <%=t('global.no_brands')%>
        </div>
        <div id="displayedBrands">
          <% unless references.blank? %>
            <% references.keys.each do |key| %>
              <label class="form-check-label m-<%=type%> <%='hide' if references[key] == 0 %>">
                <input type="<%=type%>" name="options" id="<%= Utils.hashcode('brand', key) %>" autocomplete="off" <%= print_checked?(:brand, key) %> class="form-check-input" value="<%= key %>">
                <%= key %>
                <span></span>
                <div class="m-badge m-badge--success m-badge--wide" id="brand-<%= key.parameterize %>">
                  <%= references[key] %>
                </div>
              </label>
            <% end %>
          <% end %>
        </div>
        <% unless others.blank? %>
          <div class="card-body" id="accordion21">
            <div class="panel">
              <div id="collapseTwoOne" class="panel-collapse collapse">
                <% others.keys.each do |key| %>
                  <%= tag.label class: "form-check-label m-#{type} #{'hide' if others[key] == 0}" do %>
                    <input type="<%=type%>" name="options" id="<%= Utils.hashcode('brand', key) %>" autocomplete="off" <%= print_checked?(:brand, key) %> class="form-check-input" value="<%= key %>">
                    <%= key %>
                    <span></span>
                    <div class="m-badge m-badge--success m-badge--wide" id="brand-<%= key.parameterize %>">
                      <%= others[key] %>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <a data-toggle="collapse" data-parent="#accordion21" href="#collapseTwoOne" class="seebutton"><%= t('global.see_all')%></a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
