<!-- Acordeon e-commerce -->
<div class="m-menu__section-text form-check menu-filter-check" id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h4 class="mb-0 m-menu__section-text">
        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <%= t('global.ecommerce')%>
        </a>
      </h4>
    </div>
    <span class="remove-all uncheck-element fa fa-trash" title="<%=t('global.clean_filters')%>"
          data-ref="#collapseOne input:checked" data-apply-at-the-end="true"></span>
    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <% unless pages.blank? %>
          <% pages.keys.each do |key| %>
            <label class="form-check-label m-<%=type%>">
              <input type="<%=type%>" name="options" id="<%= Utils.hashcode('market', pages[key][0]) %>" autocomplete="off" <%= print_checked?(:page, key) %> class="form-check-input" value="<%= key %>">
              <%= pages[key][0] %>
              <span></span>
              <div class="m-badge m-badge--success m-badge--wide" id="page-<%= pages[key][0].parameterize %>">
                <%= pages[key][1] %>
              </div>
            </label>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>