<!-- Accordion Subcategories -->
<div class="m-menu__section-text form-check menu-filter-check" id="accordion6" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="headingSix">
      <h4 class="mb-0 m-menu__section-text">
        <a data-toggle="collapse" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
          <%= t('global.category') %>
        </a>
      </h4>
    </div>
    <span class="remove-all uncheck-element fa fa-trash" title="<%=t('global.clean_filters')%>"
          data-ref="#collapseSix input:checked" data-apply-at-the-end="true"></span>
    <div id="collapseSix" class="collapse show m-checkbox-list" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordion6">
      <div class="card-body">
        <% categories.each do |category, value| %>
          <% next if value.blank? %>
          <label class="form-check-label m-radio">
            <input type="radio" name="category" id="<%= Utils.hashcode('category', category) %>" autocomplete="off" <% if params[:category] && params[:category].include?(category) %>checked<% end %> class="form-check-input" value="<%= category %>">
            <%= category %>
            <span></span>
            <div class="m-badge m-badge--success m-badge--wide" id="category-<%= category.parameterize %>">
              <%= value %>
            </div>
          </label>
        <% end %>
      </div>
    </div>
  </div>
</div>