<!-- Accordion Price -->
<div class="m-menu__section-text form-check menu-filter-check" id="accordion4" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="headingFour">
      <h4 class="mb-0 m-menu__section-text">
        <a class="m-menu__section-text-a" data-toggle="collapse" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
          <%=t('global.price')%>
        </a>
      </h4>
    </div>
    <span class="remove-all uncheck-element fa fa-trash" title="<%=t('global.clean_filters')%>"
          data-ref="#collapseFour input" data-apply-at-the-end="true"></span>
    <div id="collapseFour" class="collapse show" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion4">
      <div class="card-body">
        <input type="number" min="0" max="60000" placeholder="min" name="min_price" id="min_price" class="price-range very-small">
        <span class="text-white">-</span>
        <input type="number" min="0" max="60000" placeholder="max" name="max_price" id="max_price" class="price-range very-small">
        <small class="search-button cursor-pointer text-white ml-2"><%=t('global.apply')%></small>
      </div>
    </div>
  </div>
</div>