<!-- Accordion Availability -->
<div class="m-menu__section-text form-check menu-filter-check" id="accordion3" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <h4 class="mb-0 m-menu__section-text">
        <a class="m-menu__section-text-a" data-toggle="collapse" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          Avaliability vs Listed
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="collapse show" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion3">
      <div class="card-body">
        <div class="" data-code-preview="true" data-code-html="true" data-code-js="false">
          <div class="">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn m-btn--pill btn-pillradio-stramina <%= 'active' if params[:option].blank? || params[:option] == 'Available' %>" id="available">
                <input type="radio" name="options3" id="optionAvailable" autocomplete="off" <%= 'checked' if params[:option].blank? || params[:option] == 'Available' %> value="Available">
                Available
              </label>
              <label class="btn m-btn--pill btn-pillradio-stramina <%= 'active' if params[:option] == 'Listed' %>" id="listed">
                <input type="radio" name="options3" id="optionListed" autocomplete="off" <%= 'checked' if params[:option] == 'Listed' %> value="Listed">
                Listed
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>