<!-- Legend of table -->
<div class="legend float-left">
  <table class="legend-table">
    <tbody>
    <tr>
      <td class="legendColorBox">
        <div class="legendColorBox-inside">
          <div class="legendBox-inner" style="border:6px solid #d4888a;">
          </div>
        </div>
      </td>
      <td class="legendLabel"> &lt;&nbsp; -20% </td>
      <td class="legendColorBox">
        <div class="legendColorBox-inside">
          <div class="legendBox-inner" style="border:6px solid #ebb3b4;">
          </div>
        </div>
      </td>
      <td class="legendLabel" > -20% - -10%</td>
      <td class="legendColorBox">
        <div class="legendColorBox-inside">
          <div class="legendBox-inner" style="border:6px solid #f2dcde;">
          </div>
        </div>
      </td>
      <td class="legendLabel" > -10% - 0%</td>
      <td class="legendColorBox">
        <div class="legendColorBox-inside">
          <div class="legendBox-inner" style="border:6px solid #ffffff;">
          </div>
        </div>
      </td>
      <td class="legendLabel" > 0%</td>
      <td class="legendColorBox">
        <div class="legendColorBox-inside">
          <div class="legendBox-inner" style="border:6px solid #eaf6ec;">
          </div>
        </div>
      </td>
      <td class="legendLabel" > 0% - 10%</td>
      <td class="legendColorBox">
        <div class="legendColorBox-inside">
          <div class="legendBox-inner" style="border:6px solid #b8d9ba;">
          </div>
        </div>
      </td>
      <td class="legendLabel" > 10% - 20%</td>
      <td class="legendColorBox">
        <div class="legendColorBox-inside">
          <div class="legendBox-inner" style="border:6px solid #94af96;">
          </div>
        </div>
      </td>
      <td class="legendLabel" > &gt; 20%</td>
    </tr>
    </tbody>
  </table>
</div>