<%= content_tag :span, class: 'm-subheader__daterange',
                data: {min_date: current_user.min_date, start_date: start_date, end_date: end_date},
                id: 'm_dashboard_daterangepicker' do %>
  <span class="m-subheader__daterange-label">
    <span class="m-subheader__daterange-title"></span>
    <span class="m-subheader__daterange-date m--font-brand"></span>
  </span>
  <a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
    <i class="la la-angle-down"></i>
  </a>
<% end %>
