<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Source Line</th>
    <th scope="col">Error</th>
  </tr>
  </thead>
  <tbody>
    <% errors.each_with_index do |element, idx| %>
      <tr>
        <th scope="row"><%= element.n %></th>
        <td><%= element.source_line %></td>
        <td><%= element.error %></td>
      </tr>
    <% end %>
  </tbody>
</table>