<!-- BEGIN: Brand -->
<div class="m-stack__item m-brand  m-brand--skin-dark ">
  <div class="m-stack m-stack--ver m-stack--general">
    <div class="m-stack__item m-stack__item--middle m-brand__logo">
      <%= link_to image_tag('logo_priceintelligence.png'), root_path, class: 'm-brand__logo-wrapper' %>
    </div>
    <div class="m-stack__item m-stack__item--middle m-brand__tools">
      <!-- BEGIN: Left Aside Minimize Toggle -->
      <a href="#" id="m_aside_left_minimize_toggle" onclick="return false;"
         class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-desktop-inline-block">
        <span></span>
      </a>
      <!-- END -->
      <!-- BEGIN: Responsive Aside Left Menu Toggler -->
      <a href="#" id="m_aside_left_offcanvas_toggle" onclick="return false;"
         class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
        <span></span>
      </a>
      <!-- END -->
      <!-- BEGIN: Responsive Header Menu Toggler -->
      <a href="#" id="m_aside_header_menu_mobile_toggle" onclick="return false;"
         class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
        <span></span>
      </a>
      <!-- END -->
      <!-- BEGIN: Topbar Toggler -->
      <a href="#" id="m_aside_header_topbar_mobile_toggle" onclick="return false;"
         class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
        <i class="flaticon-more"></i>
      </a>
      <!-- BEGIN: Topbar Toggler -->
    </div>
  </div>
</div>
<!-- END: Brand -->
<div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
  <!-- BEGIN: Horizontal Menu -->
  <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-dark"
          id="m_aside_header_menu_mobile_close_btn">
    <i class="la la-close"></i>
  </button>
  <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-dark m-aside-header-menu-mobile--submenu-skin-dark">
    <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
      <%= content_tag :li, class: "m-menu__item  m-menu__item--submenu m-menu__item--rel" do %>
        <%= link_to root_path, class: "m-menu__link m-menu__toggle" do %>
          <%= content_tag :span, :class => "m-menu__link-title" do %>
            <%= content_tag :span, :class => "m-menu__link-wrap" do %>
              <%= content_tag :span, t('global.menu.overview'), :class => "m-menu__link-text" %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel dropdown" data-menu-submenu-toggle="click"
          data-redirect="true" aria-haspopup="true">
        <a href="#" class="m-menu__link m-menu__toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="m-menu__link-text"><%= t('global.menu.benchmark')%></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <% current_user.available_root_categories.each do |category| %>
            <li><%= link_to category, benchmark_path(category: category) %></li>
          <% end %>
        </ul>
      </li>
      <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel dropdown" data-menu-submenu-toggle="click"
          data-redirect="true" aria-haspopup="true">
        <a href="#" class="m-menu__link m-menu__toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="m-menu__link-text"><%= t('global.menu.map_page')%></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <% current_user.available_ecommerces.each do |ecommerce| %>
            <li><%= link_to ecommerce[1], map_path(page: ecommerce[0]) %></li>
          <% end %>
        </ul>
      </li>
      <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel dropdown" data-menu-submenu-toggle="click"
          data-redirect="true" aria-haspopup="true">
        <a href="#" class="m-menu__link m-menu__toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="m-menu__link-text"><%= t('global.menu.price_evolution')%></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <% current_user.available_root_categories.each do |category| %>
            <li><%= link_to category, price_evolution_path(category: category) %></li>
          <% end %>
        </ul>
      </li>
      <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel">
        <%= link_to product_evolution_path, class: "m-menu__link m-menu__toggle" do %>
          <span class="m-menu__link-title">
            <span class="m-menu__link-wrap">
              <span class="m-menu__link-text"><%= t('global.menu.product_evolution') %></span>
            </span>
          </span>
        <% end %>
      </li>
      <%= content_tag :li, class: "m-menu__item  m-menu__item--submenu m-menu__item--rel" do %>
        <%= link_to files_path, class: "m-menu__link m-menu__toggle" do %>
          <%= content_tag :span, :class => "m-menu__link-title" do %>
            <%= content_tag :span, :class => "m-menu__link-wrap" do %>
              <%= content_tag :span, t('global.menu.files'), :class => "m-menu__link-text" %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <% if current_user.admin? %>
        <%= content_tag :li, class: "m-menu__item  m-menu__item--submenu m-menu__item--rel" do %>
          <%= link_to admin_root_path, class: "m-menu__link m-menu__toggle" do %>
            <%= content_tag :span, :class => "m-menu__link-title" do %>
              <%= content_tag :span, :class => "m-menu__link-wrap" do %>
                <%= content_tag :span, t('global.menu.admin'), :class => "m-menu__link-text" %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
    <div class="m-stack__item m-topbar__nav-wrapper">
      <ul class="m-topbar__nav m-nav m-nav--inline">
        <li class="m-nav__item m-dropdown m-dropdown--large m-dropdown--arrow m-dropdown--align-center m-dropdown--mobile-full-width m-dropdown--skin-light	m-list-search m-list-search--skin-light"
            data-dropdown-toggle="click" data-dropdown-persistent="true" id="m_quicksearch" data-search-type="dropdown">
          <%= link_to destroy_user_session_path, title: t('global.menu.logout'), class: "m-nav__link" do %>
            <span class="m-nav__link-icon">
              <span class="fa fa-power-off text-link"></span>
            </span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <!-- END: Horizontal Menu -->
  <!-- BEGIN: Topbar -->
  <!-- SEARCH: Topbar
  <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
    <div class="m-stack__item m-topbar__nav-wrapper">
      <ul class="m-topbar__nav m-nav m-nav--inline">
        <li class="m-nav__item m-dropdown m-dropdown--large m-dropdown--arrow m-dropdown--align-center m-dropdown--mobile-full-width m-dropdown--skin-light	m-list-search m-list-search--skin-light"
            data-dropdown-toggle="click" data-dropdown-persistent="true" id="m_quicksearch" data-search-type="dropdown">
          <a href="#" class="m-nav__link m-dropdown__toggle">
            <span class="m-nav__link-icon">
              <i class="flaticon-search-1"></i>
            </span>
          </a>
          <div class="m-dropdown__wrapper">
            <span class="m-dropdown__arrow m-dropdown__arrow--center"></span>
            <div class="m-dropdown__inner ">
              <div class="m-dropdown__header">
                <form class="m-list-search__form">
                  <div class="m-list-search__form-wrapper">
                    <span class="m-list-search__form-input-wrapper">
                      <input id="m_quicksearch_input" autocomplete="off" type="text" name="q" class="m-list-search__form-input" value="" placeholder="Search...">
                    </span>
                    <span class="m-list-search__form-icon-close" id="m_quicksearch_close">
                      <i class="la la-remove"></i>
                    </span>
                  </div>
                </form>
              </div>
              <div class="m-dropdown__body">
                <div class="m-dropdown__scrollable m-scrollable" data-scrollable="true"
                     data-max-height="300" data-mobile-max-height="200">
                  <div class="m-dropdown__content"></div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  -->
  <!-- END: Topbar -->
</div>
