<div class="m-menu__section-text form-check menu-filter-check" role="tablist">
  <div class="card">
    <div class="m-content mt-4">
      <span class="btn btn-block btn-outline-dark reset-form">
        <%=t('global.reset_filters')%>
      </span>
    </div>
  </div>
</div>