<% @warnings.each do |warning| %>
  <% if [:ecommerces, :brands].include?(warning) %>
    <div class="alert alert-<%=warning == :ecommerces ? 'danger' : 'warning'%> mx-auto w-50 mt-5" role="alert">
      <h3 class="alert-heading"><%=t(".#{warning}.heading")%></h3>
      <h4><%=t(".#{warning}.title")%></h4>
      <hr>
      <p class="mb-0"><%=t(".#{warning}.description")%></p>
    </div>
  <% end %>
<% end %>
