<% title            = local_assigns[:title] %>
<% n_templates      = local_assigns[:n_templates] || 1 %>
<% templates        = "index" if local_assigns[:templates].nil? %>
<% bind_elements    = local_assigns[:bind_elements] || 'main-page' %>

<% if title %>
  $('h3.m-subheader__title').text('<%= title %>');
  $('li.breadcrumb-item').filter('.active').text('<%= title %>');
<% end %>

<% n_templates.times do |n| %>
  <% rendered_template = j(render "#{index_folder}/#{templates[n]}") %>
  $('#<%= bind_elements[n] %>').replaceWith("<%= rendered_template %>");
<% end %>

<%= "setBindings(#{get_bindings.to_a});".html_safe unless get_bindings.blank? %>
$('.fixed').stickySort({fixedOffset: 70});





