.jsoneditor-container, .jsoneditor-contextmenu {
  table {
    width: auto;
    margin: 0;
  }

  .jsoneditor {
    background: white;
  }

  button, button:hover, .menu button, .menu button:hover {
    text-shadow: none;
    box-shadow: none;
    border-radius: 0;
  }

  button:hover, .menu button:hover {
    background: none;
  }
}

.jsoneditor-container {
  margin-left: 20%;
  width: 80%;
}

.col-url {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.col-img {
  max-height: 50px;
  max-width: 50px;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  &.micro {
    max-height: 25px;
    max-width: 25px;
  }
  &.medium {
    max-height: 75px;
    max-width: 75px;
  }
  &.big {
    max-height: 125px;
    max-width: 125px;
  }
  &.no-center {
    margin-left: 0;
    margin-right: inherit;
  }
}
.col-width-100 {
  max-width: 100px;
}
.col-width-200 {
  max-width: 200px;
}

.tree {
  ol {
    margin-bottom: -2em !important;
  }
  .child {
    margin-left: 20px;
  }
}
.tree-parent {
  font-weight: bold;
}
.tree-child {
  margin-left: 20px;
}
.fifty-percent {
  width: 50%;
}

a.no-decoration {
  text-decoration: none !important;
}