/* Template Styles */
body {
  width: 100% !important;
  padding: 0;
  background-color: #ededee;
  color: #444444;
  font-size: 16px;
  line-height: 150%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

p {
  margin: 10px 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin: 0;
  padding: 0;
}

img,
a img {
  border: 0;
  height: auto;
  outline: none;
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

img {
  border: 0;
  height: auto;
  line-height: 100%;
  outline: none;
  text-decoration: none;
}

.center {
  text-align: center;
}

.header {
  background-color: #292933;
  padding: 20px;
  text-align: center;
}

.main-title {
  background-color: #292933;
  color: #FFFFFF;
  padding: 20px;
  margin: 0;
}

.title {
  font-family: "Roboto", sans-serif;
  color: #292933;
  vertical-align: middle;
  text-align: center;
  font-size: 1.6em;
  line-height: 1.5em;
  font-style: normal;
  font-weight: 300;
  margin: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: #292933;
  vertical-align: middle;
  text-align: left;
  font-size: 1.6em;
  line-height: 1.5em;
  font-style: normal;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

.intro {
  background-color: #cccccc;
  color: #444444;
  padding: 20px;
  margin: 0;
  font-size: 1.2em;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.4em;
  font-style: normal;
  font-weight: 500;
  background-color: #e67d43;
  color: #FFFFFF;
  padding: 5px 10px;
  margin-bottom: 5px;
  clear: left;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  font-style: normal;
  font-weight: 300;
  margin: 20px 0 5px 0;
  clear: left;
  margin-top: 10px;

}

.main-area {
  background-color: #FFFFFF;
  vertical-align: middle;
  padding: 20px;
  text-align: left;
}

.main-table {
  max-width: 520px;
  border-collapse: collapse;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.main-table-min {
  max-width: 100%;
  min-width: 100%;
  border-collapse: collapse;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  list-style: none;
}

a {
  color: orange;
  text-decoration: none;
}

.url-link, .url-link a, .url-link a:visited, a.url-link {
  color: orange;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
}

.button-area {
  text-align: center;
  width: 100%;
}

.button a, a.button {
  background-color: orange;
  text-transform: uppercase;
  padding: 10px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
  border-radius: 4px;
  margin-top: 20px;
  width: 200px;
}

.button_large a, a.button_large {
  background-color: orange;
  text-transform: uppercase;
  padding: 10px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
  border-radius: 4px;
  margin-top: 20px;
  width: 300px;
}

.button.small a, a.button.small {
  padding: 0 10px;
  width: auto;
  margin: 0;
  font-size: 1em;
}

.footer {
  padding-top: 20px;
  padding-right: 18px;
  padding-bottom: 9px;
  padding-left: 18px;
  mso-line-height-rule: exactly;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-break: normal;
  color: #656565;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
}

.notify-text {
  font-size: 18px;
  text-align: center;
  margin: 0 0 20px 0;
  display: block;
}

.notify-text__alert {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.notify-text__alert_cancelled {
  color: #D0011B;
}

.notify-text__alert_accepted {
  color: #7ED321;
}

.data-table {
  border-collapse: collapse;
  width: 100%;
}

.data-table td, .data-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.data-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.data-table tr:hover {
  background-color: #ddd;
}

.data-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #70819f;
  color: white;
}