%p= t('.greeting', :recipient => @resource.email, :default => "Hello #{@resource.email}!")
%br
%p= t('.instruction', :default => "Someone has requested a link to change your password, and you can do this through the link below.")
%br
%p= link_to t('.action', :default => "Change my password"), edit_password_url(@resource, :reset_password_token => @token, locale: I18n.locale)
%br
%p= t('.instruction_2', :default => "If you didn't request this, please ignore this email.")
%p= t('.instruction_3', :default => "Your password won't change until you access the link above and create a new one.")