<div class="m-content" id="categories_content">
  <%= show_current_filters %>
  <!--Begin::Main Portlet-->
  <div class="row">
    <% @values.each do |category, values| %>
        <div class="col-xl-4">
          <!--begin:: Widgets/Top Products-->
          <%= link_to price_categories_path(current_filters(category: category)),
                      title: t('price_categories.index.title', category: category),
                      class: 'text-decoration-none' do %>
            <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height category category2">
              <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                  <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                      <%= category %>
                    </h3>
                  </div>
                </div>
              </div>
              <div class="m-portlet__body">
                <!--begin::Widget5-->
                <div class="m-widget4 m-widget4Stramina">
                  <div class="m-widget4__item resume">
                    <span class="prevtitle-resume">ASP €</span>
                    <div class="wrapper-price-resume">
                      <div class="price-resume">
                        <span class="average"><%= values[0] %></span>
                      </div>
                      <div class="price-resume-detail">
                        <% if values[1] < 0 %>
                          <span class="average-percentage-variable-icon red">
                            <i class="m-menu__hor-arrow la la-angle-down"></i>
                          </span>
                        <% else %>
                          <span class="average-percentage-variable-icon green">
                            <i class="m-menu__hor-arrow la la-angle-down"></i>
                          </span>
                        <% end %>
                        <span class="average-percentage-variable">
                          <%= values[1].abs %>%
                        </span>
                      </div>
                    </div>

                    <div class="wrapper-price-resume wrapper-price-resume-prev">
                      <span class="average-prev">
                        Previous <%= values[2] %>€
                      </span>
                      <div class="wrapper-price-resume">
                        <div class="price-resume-detail price-resume-detail-prev cursor-pointer open-dialog"
                             title="<%= t('public.products.title.down')%>"
                             data-remote-url="<%=products_public_index_path(current_filters(type: 'down', category: category))%>">
                          <span class="average-percentage-variable-icon average-percentage-variable-icon-prev red">
                            <i class="m-menu__hor-arrow la la-angle-down"></i>
                          </span>
                          <span class="average-percentage-variable average-percentage-variable-prev">
                            <%= values[4] %>
                            <span class="percentage">(<%= values[13] %>%)</span>
                          </span>
                        </div>
                        <div class="price-resume-detail price-resume-detail-prev cursor-pointer open-dialog"
                             title="<%= t('public.products.title.up')%>"
                             data-remote-url="<%=products_public_index_path(current_filters(type: 'up', category: category))%>">
                          <span class="average-percentage-variable-icon average-percentage-variable-icon-prev green">
                            <i class="m-menu__hor-arrow la la-angle-down"></i>
                          </span>
                          <span class="average-percentage-variable average-percentage-variable-prev">
                            <%= values[3] %>
                            <span class="percentage">(<%= values[12] %>%)</span>
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="m--space-20"></div>
                    <% if @brands %>
                      <div class="progress-bar-description">
                        <span class="pbd-on"><%= selected_brands(@brands) %> OFFERS <%= values[11] %> |</span>
                        <span class="pdb-off">MARKET OFFERS <%= values[6] %></span>
                      </div>
                      <div class="progress m-progress--sm">
                        <div class="progress-bar bg-stramina w-75" role="progressbar"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="stramina-separator"></div>
                      <div class="m--space-20"></div>
                      <div class="stramina-separator"></div>
                      <div class="m--space-20 stramina-separator"></div>
                      <div class="m--space-20"></div>
                      <div class="progress-bar-description">
                        <span class="pbd-on"><%= selected_brands(@brands) %> AVAILABLE <%= values[10] %> | </span>
                        <span class="pdb-off">MARKET AVAILABLE <%= values[5] %></span>
                      </div>
                      <div class="progress m-progress--sm">
                        <div class="progress-bar bg-stramina w-75" role="progressbar"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    <% elsif @markets %>
                      <div class="progress-bar-description">
                        <span class="pbd-on"><%= @page_name %> OFFERS <%= values[11] %> | </span>
                        <span class="pdb-off">MARKET OFFERS <%= values[6] %></span>
                      </div>
                      <div class="progress m-progress--sm">
                        <div class="progress-bar bg-stramina w-75" role="progressbar"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="stramina-separator"></div>
                      <div class="m--space-20"></div>
                      <div class="stramina-separator"></div>
                      <div class="m--space-20 stramina-separator"></div>
                      <div class="m--space-20"></div>
                      <div class="progress-bar-description">
                        <span class="pbd-on"><%= @page_name %> AVAILABLE <%= values[10] %> | </span>
                        <span class="pdb-off">MARKET AVAILABLE <%= values[5] %></span>
                      </div>
                      <div class="progress m-progress--sm">
                        <div class="progress-bar bg-stramina w-75" role="progressbar"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    <% else %>
                      <div class="progress-bar-description">
                        <span class="pbd-on">OFFERS <%= values[6] %> | </span>
                        <span class="pdb-off">AVAILABLE <%= values[5] %></span>
                      </div>
                        <div class="progress m-progress--sm">
                          <div class="progress-bar bg-stramina w-75" role="progressbar"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    <% end %>
                  </div>
                </div>

                <div class="m--space-20"></div>
                <div class="stramina-separator"></div>
                <div class="stramina-separator"></div>
                <div class="m-widget4 m-widget4Stramina full-width-widget">
                  <div class="m-widget4__items-col1 countproducts-widget cursor-pointer open-dialog"
                       title="<%= t('public.products.title.new')%>"
                       data-remote-url="<%=products_public_index_path(current_filters(type: 'new', category: category))%>">
                    <span class="countproducts lessproducts">+<%=values[7]%></span>
                    <span class="countproducts-description">NEW </br> PRODUCTS</span>
                  </div>
                  <div class="m-widget4__items-col2 cursor-pointer open-dialog"
                       title="<%= t('public.products.title.disappeared')%>"
                       data-remote-url="<%=products_public_index_path(current_filters(type: 'disappeared', category: category))%>">
                    <span class="countproducts plusproducts">-<%=values[8]%></span>
                    <span class="countproducts-description">REMOVED </br> PRODUCTS</span>
                  </div>
                </div>
                <div class="m--space-20 stramina-separator"></div>
                <div class="m--space-20"></div>
                <div class="m-widget4 m-widget4Stramina">
                  <div class="progress-bar-description">
                    <span class="pbd-on">LISTED <%=values[9] %></span><span class="pdb-off"></span>
                  </div>
                  <div class="progress m-progress--sm">
                    <div class="progress-bar bg-stramina w-75" role="progressbar"
                         aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
         <%end%><!--end:: Widgets/Top Products-->
        </div>
    <% end %>
  </div><!--End:Row-->
</div><!--End:m-content-->
