<div id="<%= 'paginated-dialog' unless is_popup? %>" class="dialog-with-ajax" data-target="paginated-dialog">
  <% if is_popup?%>
    <h3 class="m-subheader__title ">
      <%= t("public.products.title.#{@type}")%>: <%=@num_products%>
    </h3>
  <% end %>
  <%= page_entries_info @products if @products.empty? %>
  <% if @products.size > 0 %>
    <div class="x-table">
      <caption class="caption-top">
        <%= page_entries_info @products, entry_name: t('global.offer').downcase %>
      </caption>
      <div class="mt-2"></div>
      <table class="table table-hover table-bordered table-striped data-table <%='fixed' unless is_popup? %>">
        <thead>
          <tr>
            <th><%=t('.picture')%></th>
            <th><%= sort_link '_brand', remote: true %></th>
            <th><%= sort_link '_name', title: t('activerecord.attributes.product.name'), remote: true %></th>
            <th><%= t('activerecord.attributes.product.category') %></th>
            <th><%= sort_link '_subcategory', remote: true %></th>
            <th><%= sort_link '_price', title: t('activerecord.attributes.product.last_price'), remote: true %></th>
            <% if @type == 'new' %>
              <th><%= sort_link '_first_day', title: t('activerecord.attributes.product.first_day'), remote: true %></th>
            <% elsif @type == 'disappeared' %>
              <th><%= sort_link '_last_day', title: t('activerecord.attributes.product.last_day'), remote: true %></th>
            <% end %>
            <th><%= sort_link '_page', title: t('activerecord.attributes.product.page'), remote: true %></th>
          </tr>
        </thead>
        <tbody>
        <% @products.each do |product| %>
          <tr>
            <td>
              <%= link_to image_tag(ensure_image_url(product['image_url']), alt: nil, title: product.name,
                                    class: 'frame-img missing_picture'),
                          ensure_image_url(product['image_url']),
                          target: '_blank' %>
            </td>
            <td><%= product.brand %></td>
            <td class="break-word"><%= product.name %></td>
            <td><%= product.category %></td>
            <td><%= product.subcategory %></td>
            <td class="text-nowrap"><%= basic_price(product.price) %></td>
            <% if @type == 'new' %>
              <td><%= format_date(product.first_day) %></td>
            <% elsif @type == 'disappeared' %>
              <td><%= format_date(product.last_day) %></td>
            <% end %>
            <td><%= Ecommerce.map_ecommerce_name[product['page']] %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="mb-5">
      <%= content_tag(:div, paginate(@products, remote: true, window: 2, param_name: :sheet), class: 'float-left') %>
      <%= link_to(products_public_index_path(current_filters.merge(format: :xlsx)), class: "btn float-right btn-default action-download") do %>
        <%=t('global.download_excel')%> <i class="la la-download"></i>
      <% end %>
    </div>
  <% end %>
</div>