<div id="<%= 'paginated-dialog' unless is_popup? %>" class="dialog-with-ajax" data-target="paginated-dialog">
  <% if is_popup?%>
    <h3 class="m-subheader__title ">
      <%= t("public.products.title.#{@type}")%>: <%=@num_products%>
    </h3>
  <% end %>
  <caption class="caption-top">
    <%= page_entries_info @products, entry_name: t('global.offer').downcase %>
  </caption>
  <% if @products.size > 0 %>
    <div class="x-table">
      <div class="mt-2"></div>
      <table class="table table-hover table-bordered table-striped data-table <%='fixed' unless is_popup? %>">
        <thead>
          <tr>
            <th><%=t('.picture')%></th>
            <th><%= sort_link '_brand', title: t('activerecord.attributes.product.brand'), remote: true %></th>
            <th><%= sort_link '_name', title: t('activerecord.attributes.product.name'), remote: true %></th>
            <th><%= sort_link '_previous_price', title: t('activerecord.attributes.product.previous_price'), remote: true %></th>
            <th><%= sort_link '_last_price', title: t('activerecord.attributes.product.last_price'), remote: true %></th>
            <th><%=t('activerecord.attributes.product.trend')%></th>
            <th class="text-nowrap"><%=t('activerecord.attributes.product.variance')%></th>
            <th><%= sort_link '_page', title: t('activerecord.attributes.product.page'), remote: true %></th>
          </tr>
        </thead>
        <tbody>
        <% @products.each do |product| %>
          <tr>
            <td>
              <%= link_to image_tag(ensure_image_url(product['image_url']), alt: nil, title: product.name,
                                    class: 'frame-img missing_picture'),
                          ensure_image_url(product['image_url']),
                          target: '_blank' %>
            </td>
            <td><%= product.brand %></td>
            <td class="break-word"><%= link_to product.name, show_product_evolution_path(product.id) %></td>
            <td class="text-nowrap"><%= basic_price(product.previous_price, precision: 2) %></td>
            <td class="text-nowrap"><%= basic_price(product.last_price, precision: 2) %></td>
            <td><%= product.last_price > product.previous_price ? t('public.products.raise') : t('public.products.lower') %></td>
            <td><%= number_to_percentage(Utils.variation(product.last_price, product.previous_price) * 100, precision: 2)%></td>
            <td><%= Ecommerce.map_ecommerce_name[product['page']] %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="mb-5">
      <%= content_tag(:div, paginate(@products, remote: true, window: 2, param_name: :sheet), class: 'float-left') %>
      <%= link_to(products_public_index_path(current_filters.merge(format: :xlsx)), class: "btn float-right btn-default action-download") do %>
        <%=t('global.download_excel')%> <i class="la la-download"></i>
      <% end %>
    </div>
  <% end %>
</div>
