<div id="m_ver_menu" class="sticked-vertical-menu m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark"
     data-menu-vertical="true" data-menu-scrollable="false" data-menu-dropdown-timeout="500">
  <form id="filters">
    <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
      <%= render partial: 'global/accordion_ecommerce',
                 locals: { pages: @reference_pages.merge(@another_pages), type: 'checkbox' } %>
      <%= render partial: 'global/accordion_brand',
                 locals: { references: @reference_brands, others: @another_brands, type: 'checkbox' } %>
      <%= render partial: 'global/accordion_availability' %>
      <%= render partial: 'global/reset_button' %>
    </ul>
  </form>
</div>
