<% content_for :products_content do %>
  <% if ['new', 'disappeared'].include?(@type) %>
    <%= render 'new_and_disappeared' %>
  <% else %>
    <%= render 'up_and_down' %>
  <% end %>
<% end %>

<% if !is_popup_or_request_xhr? %>
  <% content_for :vertical_menu, render(partial: 'vertical_menu') %>
  <%= render(partial: 'global/subheader', locals: {
      title: t('.overview', type: t("public.products.title.#{@type}"), number: params[:number]),
      start_date: @start_date, end_date: @end_date
  }) %>
  <div class="m-content mb-4" id="categories_content">
    <%= show_current_filters %>
    <%= content_for :products_content %>
  </div>
<% else %>
  <%= content_for :products_content %>
<% end %>