<div class="m-content" id="minimum_advertised_price_content">
  <%= show_current_filters %>
  <div class="mb-2"><%= page_entries_info @map_page_result %></div>
  <div class="x-table">
    <table class="table table-bordered data-table fixed mb-0">
      <thead class="bg-secondary">
        <tr>
          <% %w(category subcategory brand name msrp).each do |header| %>
            <th class="text-center align-middle fix-width <%= 'double' if header == 'name' %>" data-field="<%= header %>">
              <%= sort_link header, title: t(header, scope: 'minimum_advertised_price.table.header'), remote: true %>
            </th>
          <% end %>
          <th class="text-center align-middle fix-width" data-field="<%= @markets %>">
            <%= Ecommerce.map_ecommerce_name[@markets] %>
          </th>
          <% @other_markets.values.sort.each do |market| %>
            <th class="text-center align-middle fix-width" data-field="<%= market %>">
              <%= market %>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @map_page_result.each do |product_detail| %>
          <tr data-row="0">
            <% product_detail['product'].each do |key, value| %>
              <td class="text-center align-middle text-nowrap fix-width <%= 'double' if key == 'name' %>">
                <% if key == 'msrp' %>
                  <%= default_if_zero(basic_price(value, precision: 2), default: '-', check: value) %>
                <% else %>
                  <%= value %>
                <% end %>
              </td>
            <% end %>
            <td class="text-center align-middle fix-width">
              <span class="<%= desviation_for_market(product_detail['prices'], @markets) %> weight-600"><%= default_if_zero(basic_price(price_for_market(product_detail['prices'], @markets), precision: 2), default: '-', check: price_for_market(product_detail['prices'], @markets)) %></span>
            </td>
            <% @other_markets.keys.sort.each do |market| %>
              <td class="text-center align-middle <%= desviation_for_market(product_detail['prices'], market) %> fix-width">
                <%= default_if_zero(basic_price(price_for_market(product_detail['prices'], market), precision: 2), default: '-', check: price_for_market(product_detail['prices'], market)) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="mb-5">
    <%= content_tag(:div, paginate(@map_page_result, remote: true, param_name: :sheet), class: 'float-left') %>  &nbsp;
    <%= link_to(map_path(products_params.merge(format: :xlsx)), class: "btn float-right btn-default action-download") do %>
        <%= t('global.download_excel') %> <i class="la la-download"></i>
    <% end %>
  </div>
</div>