<!-- BEGIN: Subheader -->
<div class="m-subheader ">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
          <li class="breadcrumb-item active" aria-current="page"><%= title %></li>
        </ol>
      </nav>
      <h3 class="m-subheader__title ">
        <%= title %>
      </h3>
    </div>
    <%= render(partial: 'daterangepicker', locals: {start_date: start_date, end_date: end_date}) %>
  </div>
</div>
<!-- END: Subheader -->