<% content_for :vertical_menu, render(partial: 'vertical_menu') %>

<%= render(partial: 'subheader', locals: {title: @title, start_date: @start_date, end_date: @start_date}) %>

<%= render partial: 'content' %>

<div class="m-content">
  <div class="mb-5">
    <%= render partial: 'global/colors_table' %>
  </div>
</div>
