<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(function(){
    drawChart('<%=type%>', '<%=id%>', <%=data.to_json.gsub(/"script::.*(?!::script).*::script"/) {|innards| innards.gsub(/"script::|::script"/, '')}.html_safe %>, <%=options.to_json.html_safe %>);
  });
</script>
<%= content_tag(:div,
                content_tag(:div,
                            content_tag(:div, nil, class: 'loader'),
                            class: 'loader-wrapper lower'),
                id: id, style: "width: #{width}; height: #{height}") %>