<script type="text/javascript">
  google.charts.load('current', {'packages': ['corechart', 'controls'], 'callback': createTable});
  function createTable() {
    // Create a dashboard.
    var dash_container = document.getElementById('dashboard_div'),
        chart_dashboard = new google.visualization.Dashboard(dash_container);
    // Create a date range slider
    var dateSlider = new google.visualization.ControlWrapper({
      'controlType': 'ChartRangeFilter',
      'containerId': 'control_div',
      'options': {
        'filterColumnLabel': 'Date',
        'ui': {
          'chartOptions': {
            colors: <%=options[:colors].to_json.html_safe %>
          }
        }
      }
    });

    // Price Evolution Tooltip
    function pet(brand, date, asp, skus, offers ) {
      return '<div><span class="d-inline font-weight-bold">'+brand+'</span><br />'+
        'Date: <span class="font-weight-bold">'+date+'</span><br />'+
        'ASP: <span class="font-weight-bold">'+asp+'</span><br />'+
        'SKUs: <span class="font-weight-bold">'+skus+'</span><br />'+
        'Offers: <span class="font-weight-bold">'+offers+'</span><br /></div>';
    }

    // Product Evolution Tooltip
    function product_et(date, prices, min, max) {
      tooltip = '<div><span class="font-weight-bold">'+date+'</span></div>';
      for (var i = 0; i < prices.length; i++) {
        var spanClass = "d-inline pull-right font-weight-bold"
        if (prices[i][1] === min)
          spanClass += " text-danger"
        else if (prices[i][1] === max)
          spanClass += " text-success"

        tooltip += '<div><span>' + prices[i][0] + '</span>' +
        '<span class="'+ spanClass +'">' + prices[i][1].toFixed(2) + '</span></div>';
      }
      return tooltip
    }

    // Line chart visualization
    var chart = new google.visualization.ChartWrapper({
      'chartType' : 'LineChart',
      'containerId' : '<%=id%>',
      options: <%=options.to_json.html_safe %>
    });

    // Bind chart to the dashboard, and to the controls
    // this will make sure our line chart is update when our date changes
    chart_dashboard.bind(dateSlider, chart );
    chart_dashboard.draw(<%=data.to_json.gsub(/"script::.*(?!::script).*::script"/) {|innards| innards.gsub(/"script::|::script"/, '')}.html_safe %>);
    $('#download_png').click(function() {
      $('#content_img').attr('src', chart.getChart().getImageURI());
    });
    $('#download_excel').click(function() {
      $('#data_url').val(chart.getChart().getImageURI());
    });
  }
</script>

<div id="dashboard_div">
  <%= content_tag(:div, content_tag(:div,
                                    content_tag(:div, nil, class: 'loader'),
                                    class: 'loader-wrapper lower'),
                  id: id, style: "width: #{width}; height: #{height}") %>
  <div id="control_div" class="control-div"></div>
</div>
