<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Stramina</title>
    <%= Gon::Base.render_data %>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= render 'layouts/scripts' %>
    <%= stylesheet_link_tag 'application', :media => "all" %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag 'application' %>
    <%= alertify_flash(wait: 5) %>
  </head>
  <body class="<%= @body_class %>" id="main-page">
    <% if logged_in? %>
      <!--
      Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 4
      Version: 5.0.3
      Author: KeenThemes
      Website: http://www.keenthemes.com/
      Contact: support@keenthemes.com
      Follow: www.twitter.com/keenthemes
      Dribbble: www.dribbble.com/keenthemes
      Like: www.facebook.com/keenthemes
      Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
      Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
      License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
      -->
      <!-- begin:: Page -->
      <% view_id = @override_view_id || params[:controller] %>
      <div class="m-grid m-grid--hor m-grid--root m-page" id="view_<%= view_id %>">
        <!-- BEGIN: Header -->
        <header class="m-grid__item m-header" data-minimize-offset="200" data-minimize-mobile-offset="200">
          <div class="m-container m-container--fluid m-container--full-height">
            <div class="m-stack m-stack--ver m-stack--desktop">
              <%= render 'global/horizontal_menu' %>
            </div>
          </div>
        </header>
        <!-- END: Header -->
        <!-- begin::Body -->
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
          <!-- BEGIN: Left Aside -->
          <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
            <i class="la la-close"></i>
          </button>
          <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
            <!-- BEGIN: Aside Menu -->
            <%= content_for :vertical_menu %>
          </div>
          <!-- END: Left Aside -->
          <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <%= content_tag(:div, class: "m-1 alert alert-danger alert-dismissable fade show #{@warning_message.blank? ? 'hide' : 'show'}", role: 'alert', id: 'flash_message') do %>
              <%= content_tag(:span, @warning_message, 'aria-hidden' => false) %>
              <%= content_tag(:button, '', onclick: '$("#flash_message").hide(); setCookieEndOfDay("closed_warning", true);', class: 'close p-1',
                              'aria-label' => 'Close', type: 'button') %>
            <% end%>
            <div class="spinner" id="loading"></div>

            <%= yield %>

          </div>
        </div>
        <!-- end:: Body -->
        <!-- begin::Footer -->
        <footer class="m-grid__item		m-footer ">
          <div class="m-container m-container--fluid m-container--full-height m-page__container">
            <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
              <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
                <span class="m-footer__copyright">
                  2018 &copy;
                  <a href="#" class="m-link">
                    Stramina
                  </a>
                </span>
              </div>
            </div>
          </div>
        </footer>
        <!-- end::Footer -->
      </div>
      <!-- end:: Page -->

      <!-- begin::Scroll Top -->
      <div class="m-scroll-top m-scroll-top--skin-top" data-toggle="m-scroll-top" data-scroll-offset="500" data-scroll-speed="300">
        <i class="la la-arrow-up"></i>
      </div>
      <!-- end::Scroll Top -->
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
