<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="mail.css">
  <title><%= t('mailer.layout.title') %></title>
</head>

<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
  <table width="100%" cellspacing="0" cellpadding="30px" border="0">
    <tbody>
      <tr>
        <td>
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="main-table" width="100%">
            <tbody>
              <tr>
                <td>
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock main-table-min">
                    <tbody>
                      <tr>
                        <td class="header">
                          <%= image_tag(attachments['logo.png'].url) %>
                        </td>
                      </tr>
                      <tr>
                        <td class="main-area">
                          <%= yield %>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                      <tr>
                        <td valign="top">
                          <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextContentContainer main-table-min">
                            <tbody>
                              <tr>
                                <td class="footer">
                                  <em><%= t('mailer.layout.copyright') %></em>
                                  <br>
                                  <br>
                                  <strong><%= t('mailer.layout.web_text') %>:</strong>
                                  <br> <a href="/"><%= Settings.env.app.domain %></a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>
